body {
  font-family: 'TT Norms';
  font-size: 18px;
  color: #282d31;
  line-height: 1;
  height: 100vh;
  background-size: 100% 100%;
  overflow: hidden;
}
* {
  -webkit-user-select: none !important;
}

/* color codes */
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #a1c9ff;} /*#33b5e5*/
.color-6{color: #aa66cc;}
.color-7{color: #ffffff;}
.color-8{color: #cc0000;}
.color-9{animation: rainbow 3s linear infinite;}

.color-u{color: lightgray;}
.color-g{color: #f1c40f;}
.color-p{color: #9772FB;}
.color-e{color: #FF9914;}
.color-t{color: #5EB1BF;}
.color-j{color: #41BBD9;}
.color-f{color: #0074ba;}
.color-z{color: #4b44ff;}
.color-i{color: #291a33;}
.color-a{color: #9a9dc9;}
.color-r{color: #F6FF8B;}

@keyframes rainbow {
  from { color: #8f00ff; }
  15% { color: #a34de2; }
  30% { color: #ff7f00; }
  45% { color: #0f0; }
  60% { color: #ff0; }
  75% { color: #ff7f00; }
  90% { color: #ff0000; }
  to { color: #8f00ff; }
}


::selection {
  background: #ff6201;
  color: #fff;
}
::-moz-selection {
  background: #ff6201;
  color: #fff;
}
.posrev {
  position: relative;
}
.w100 {
  width: 100%;
}
.anim {
  transition: all 0.23232323s ease-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;
}
button, textarea, a, select, input {
  outline: none !important;
}
* {
  box-sizing: border-box;
  font-family: inherit;
}
.skew3 {
  transform: skewY(-3deg);
}
.z200 {
  position: relative;
  z-index: 200;
}
.anim {
  transition: all 0.23232323s easy-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;
}
.hud-chat {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ui-slider-range {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  background: #ffd235;
}
.main-chat-enter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}
.main-chat-enter input, .chat-hud-action input{
  display: none;
  opacity: 0;
  position: absolute;
  left: -3000em;
}
.main-chat-enter input + label, .chat-hud-action input + label{

  position: relative;
  display: inline-block;
  z-index: 10;

  user-select: none;
  cursor: pointer;

  width: auto;
  min-width: 56px;
  
  padding: 1px 7px;
  margin-right: 6px;
  margin-bottom: 6px;

  transition: all 0.23232323s ease-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;


  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  font-size: 14px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, .45);

  white-space: nowrap;
  text-align: center;
  line-height: 2.5;
}

.main-chat-wrap {
  display: block;
  position: absolute;
  left: 20px;
  top: 2vh;
  width: 623px;
  min-width: 430px;
}
.chat-posts {
  height: auto;
  overflow-y: auto;
  padding: 0 10px;
  height: 500px;
  display: flex;
  /* flex-direction: column-reverse; */
  flex-direction: column;
  margin-bottom: 20px;
  unicode-bidi: bidi-override;
  direction: rtl;
  z-index: 2;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #24272d;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #24272d;
}
.chat-posts.height30 {
  height: 398px;
}
.chat-posts.height40 {
  height: 40vh;
}
.chat-posts.height50 {
  height: 50vh;
}
.chat-posts.height60 {
  height: 60vh;
}
.chat-posts.height70 {
  height: 70vh;
}
.chat-posts.height80 {
  height: 80vh;
}
.chat-posts .chat-post {

  position: relative;
  margin-bottom: 7px;

  font-size: 16px;
  letter-spacing: .1px;
  color: #fff;
  
  line-height: 1.3;
  direction: ltr;
  /* text-shadow: 0px 0px 0.8vh rgba(0, 0, 0, .6), 0px 0px 0.8vh rgba(0, 0, 0, .6);   */
}
/* .chat-posts .chat-post strong:first-of-type {
  margin-right: 3px;
} */
.chat-posts .chat-post strong.green {
  color: #6fec48;
}
.chat-posts .chat-post strong.yellow {
  color: #ffdb34;
}
.chat-hud-wrap {
  margin: 0 10px;
}
.chat-hud-wrap > button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: transparent;
  border: 0;
  box-shadow: none;
  opacity: .5;
}
.chat-hud-wrap > button img {
  width: 14px;
}
.chat-hud-input {
  background: rgba(0, 0, 0, 0.35);
  border: 0px;
  box-shadow: none;
  padding: 16px 36px 16px 16px;
  line-height: 1;
  font-size: 17px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  width: 100%;
  font-variant-ligatures: none;
}

.chat-hud-input::placeholder {
  color: hsla(0, 0%, 100%, .45);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: .2px;
}

.hud-chat .main-button-chat {
  
  position: relative;
  display: inline-block;

  width: auto;
  min-width: 42px;

  cursor: pointer;
  user-select: none;
  z-index: 10;
  opacity: 0.5 !important;

  padding: 10px 16px;
  margin-bottom: 6px;
  margin-right: 6px;

  background: linear-gradient(to top, #a1c9ff15, #a1c9ff90);
  border-radius: 4px;

  transition: all 0.23232323s ease-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;

  font-size: 14px;
  font-weight: 500;
  color: #fff;

  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;

}

.hud-chat .main-button-chat.opacity {
  opacity: 0.5;
}
.hud-chat .chat-hud-action {
  margin: 5px 10px;
  display: flex;
}
.hud-chat .chat-hud-action .chat-actions-hidden {
  display: flex;
}
.chat-posts .chat-post strong.chat-ico-police {
  color: #82d3ff;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-police:before {
  content: "";
  background: url(../images/chat/police/ico-1.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-army {
  color: #ded9af;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-army:before {
  content: "";
  background: url(../images/chat/army/military.svg) no-repeat;
  width: 18px;
  height: 21px;
  margin-right: 10px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post change_color{
  color: #c4ccdc;
}
.chat-posts .chat-post strong.chat-ico-log {
  color: #c4ccdc;
  line-height: 1.6em;
  padding-left: 32px;
}

.chat-posts .chat-post strong.chat-ico-staffbox {
  line-height: .5em;
  padding-left: 32px;
 /*de594e*/
}

.chat-posts .chat-post strong.chat-ico-relative {
  position: relative;
}

.chat-posts .chat-post strong.chat-ico-fondator:before {
  content: "";
  background: url(https://cdn.armylegends.ro/fivem/1s.png) no-repeat;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  background-size: 100% 100%;
  position: absolute;
  left: 5px;
  /* left: -.15vw; */
}

.chat-posts .chat-post strong.chat-ico-manager:before {
  content: "";
  background: url(https://cdn.armylegends.ro/fivem/2s.png) no-repeat;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  background-size: 100% 100%;
  position: absolute;
  left: 5px;
  /* left: -.15vw; */
}

.chat-posts .chat-post strong.chat-ico-supervizor:before {
  content: "";
  background: url(https://cdn.armylegends.ro/fivem/3s.png) no-repeat;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  background-size: 100% 100%;
  position: absolute;
  left: 5px;
  /* left: -.15vw; */
}

.chat-posts .chat-post strong.chat-ico-administrator:before {
  content: "";
  background: url(https://cdn.armylegends.ro/fivem/4s.png) no-repeat;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  background-size: 100% 100%;
  position: absolute;
  left: 5px;
  /* left: -.15vw; */
}

.chat-posts .chat-post strong.chat-ico-moderator:before {
  content: "";
  background: url(https://cdn.armylegends.ro/fivem/5s.png) no-repeat;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  background-size: 100% 100%;
  position: absolute;
  left: 5px;
  /* left: -.15vw; */
}

.chat-posts .chat-post strong.chat-ico-helper:before {
  content: "";
  background: url(https://cdn.armylegends.ro/fivem/6s.png) no-repeat;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  background-size: 100% 100%;
  position: absolute;
  left: 5px;
  /* left: -.15vw; */
}

.chat-posts .chat-post strong.chat-ico-trialhelper:before {
  content: "";
  background: url(https://cdn.armylegends.ro/fivem/7s.png) no-repeat;
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  background-size: 100% 100%;
  position: absolute;
  left: 5px;
  /* left: -.15vw; */
}

.chat-posts .chat-post span {
  display: inline-flex;
}
.chat-posts .chat-post .chat-ico-1 > img {
  width: 18px;
  height: 21px;
  margin-right: 10px;
}
.chat-posts .chat-post.smi-ad {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr;
  padding-left: 16px;
}
.chat-posts .chat-post .chat-smi-wrap > span:nth-child(1) {
  display: inline-flex;
  margin-bottom: 5px;
  align-items: center;
}
.chat-posts .chat-post .chat-smi-wrap > span:nth-child(2) {
  color: hsla(0, 0%, 100%, .8);
}
.chat-posts .chat-post.property .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/home-run.svg);
  background-size: 15px 16px;
  background-color: #13b047;
}
.chat-posts .chat-post.auto .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/car.svg);
  background-size: 18px 18px;
  background-color: #2089f4;
}
.chat-posts .chat-post.biz .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/work.svg);
  background-size: 16px 15px;
  background-color: #7151d8;
}
.chat-posts .chat-post.discount .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/sale.svg);
  background-size: 15px 15px;
  background-color: #F60000;
}
.chat-posts .chat-post.job .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/helmet.svg);
  background-size: 17px 17px;
  background-color: #5F5F5F;
}
.chat-posts .chat-post.love .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/heart.svg);
  background-size: 15px 13px;
  background-color: #F6807F;
}
.chat-posts .chat-post.utilities .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/tools.svg);
  background-size: 15px 13px;
  background-color: #F68929;
}
.chat-posts .chat-post.other .chat-smi-wrap > span:nth-child(1):before {
  content: "";
  background-image: url(../images/svg/smi-edit/endless.svg);
  background-size: 17px 17px;
  background-color: #000;
}
.chat-posts .chat-post.smi-ad .chat-smi-wrap > span:nth-child(1):before {
  min-width: 24px;
  min-height: 24px;
  max-height: 24px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
 /* display: inline-flex;
  */
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: solid 1px #fff;
  background: unset;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  cursor: pointer;
  transition: all 0.23232323s ease-in-out;
  transition: all 0.23232323s easy-in-out;
  -webkit-transition: all 0.23232323s ease-in-out;
  -moz-transition: all 0.23232323s ease-in-out;
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button:hover {
  background: rgba(255,255,255,0.1);
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button:last-child {
  margin-right: unset;
}
.chat-posts .chat-post.smi-ad .chat-post-buttons .chat-post-button img {
  min-width: 12px;
  min-height: 12px;
  max-width: 12px;
  max-height: 12px;
}
.chat-posts .chat-post.smi-ad .chat-post-buttons {
  display: flex;
  margin-right: 10px;
}
.chat-posts .chat-post.smi-ad .chat-smi-wrap > span:nth-child(2) {
  display: flex;
  font-size: 14px;
  align-items: center;
  letter-spacing: 0.03em;
}
.chat-posts .chat-post.smi-ad > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-posts .chat-post.smi-ad > span > img {
  width: 26px;
  height: 26px;

  margin-right: 22px;
}

.hud-chat .shadow-chat {
  position: absolute;
  background: url(../images/chat/shadow-chat.png) no-repeat;
  left: 0;
  top: 0;
  width: 70vh;
  height: 50vh;
  background-size: 100% 100%;
  opacity: 0.7;
}
.chat-posts .chat-post strong.chat-ico-mafia1 {
  color: #999999;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-mafia1:before {
  content: "";
  background: url(../images/chat/mafia/mafia1.svg) no-repeat;
  width: 18px;
  height: 28px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-mafia2 {
  color: #cc9900;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-mafia2:before {
  content: "";
  background: url(../images/chat/mafia/mafia2.svg) no-repeat;
  width: 18px;
  height: 28px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}
.chat-posts .chat-post strong.chat-ico-mafia3 {
  color: #cccc00;
  line-height: 1.6em;
  padding-left: 32px;
}
.chat-posts .chat-post strong.chat-ico-mafia3:before {
  content: "";
  background: url(../images/chat/mafia/mafia3.svg) no-repeat;
  width: 18px;
  height: 28px;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
}


.disable-pointer-evs{
  pointer-events: none !important;
  opacity: .5 !important;
}
