
.dirty-minigame {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
}
.dirty-minigame::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url(https://cdn.armylegends.ro/bg/Spalare_de_bani.webp) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.dirty-minigame .money{
    width: 400px;
    height: 400px;

    background: url(https://cdn.armylegends.ro/elements/money2.webp) no-repeat;
    background-size: 100% 100%;

    position: absolute;
    z-index: 1000;

}