.main-opium, .opium-flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-opium {

    --bg: url("https://cdn.armylegends.ro/bg/BG_JOB_opium.png"); 
    --clr: 169, 173, 115;

    position: absolute;
    inset: 0;
    
    background: var(--bg) no-repeat;
    background-size: 100% 100%;
}


.opium-flex {
    padding: 120px;
    flex-direction: column;
}

.opium-flex .min-level {
    position: absolute;
    right: 0;
    top: -15px;
    width: 200px;
    height: 45px;
    background-color: #ee4630;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) translateX(35%);
}

.opium-flex .job-header {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.opium-flex .job-header .header-box {
    display: flex;
    font-variant-ligatures: none;
}

.opium-flex .job-header .header-box .job-title {
    font-size: 6vh;
    /* text-transform: uppercase; */
    letter-spacing: .05em;
    font-weight: 300;
    color: hsla(0, 0%, 100%, .9);
    line-height: 60px;
    margin-right: 26px;
}

.opium-flex .job-header .header-box .job-title p {
    font-size: 6vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
}

.opium-flex .job-header .job-description {
    margin-top: 10px;
    color: hsla(0, 0%, 100%, .4);
    font-size: 2vh;
    letter-spacing: .025em;
    line-height: 22px;
    width: 570px;
    font-weight: 300;
}

.opium-flex .job-header .header-box .job-action {
    padding: 10px 14px;
    min-width: 180px;
    min-height: 50px;
    height: fit-content;
    background-color: rgba(var(--clr), .7);
    border: 2px dashed transparent;
    border-radius: 6px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0, 0%, 100%, .7);
    font-size: 18px;
    letter-spacing: .015em;
    font-weight: 400;
    cursor: pointer;
    margin-top: 5px;
    transition: .232323s ease-in-out;
}

.opium-flex .job-header .header-box .job-action:hover {
    border: 2px dashed rgb(var(--clr));
    opacity: .8;
}

.opium-flex .job-boxes {
    margin-top: 102px;
    display: flex;
    gap: 3vh;
}

.opium-flex .job-boxes > div {
    position: relative;
    transition: all 0.33s, border 0s;
    min-width: 28vh;
    border-radius: 0.5vh;
    min-height: 40vh;
    border: 0.4vh dashed hsla(0, 0%, 100%, 0.125);
    padding: 20px 22px;
}
.opium-flex .job-boxes > div:first-of-type {
    border-style: solid;
}
.opium-flex .job-boxes > div:hover {
    transition: 0.33s, border 0s;
    border-color: hsla(0, 0%, 100%, 0.188);
    background: hsla(0, 0%, 100%, 0.02);
    border-style:dotted;
}


.opium-flex .job-boxes > div:first-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 215px;
    height: 295px;
    background: url(https://cdn.armylegends.ro/elements/neptune-flowers-plants-poppy-bud-stem-35079182221469_1024x.webp) no-repeat;
    background-size: 100% 100%;
    transform: translateX(30%) translateY(25%);
}

.opium-flex .job-boxes > div .title {
    font-size: 2vh;
    font-weight: 600;
    position: relative;
}

.opium-flex .job-boxes > div .title::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-25%) translateY(-65%);
    content: "";
    width: 162px;
    height: 162px;
    background: url(https://cdn.armylegends.ro/elements/Mask_Group-2.webp) no-repeat;
}

.opium-flex .job-boxes > div .description {
    max-width: 250px;
    margin-top: 35px;
    letter-spacing: .025em;
    color: hsla(0, 0%, 100%, .5);
    line-height: 21px;
}


.opium-minigame {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
}
.opium-minigame::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url(https://cdn.armylegends.ro/bg/Traficant_de_opium_Minigame.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.opium-minigame .seed {
    width: 500px;
    height: 190px;
    
    background: url(https://cdn.armylegends.ro/elements/image_17.webp) no-repeat;
    background-size: 100% 100%;

    position: absolute;
    z-index: 1000;
}

.opium-game-flex {
    width: 100%;
    height: 100%;
}

.opium-game-flex .spawn-zone {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 725px;
    height: 940px;
}

.opium-game-flex .drag-zone {
    position: absolute;
    bottom: 0px;
    right: 55px;
    width: 850px;
    height: 575px;
}
