.main-fisher, .fisher-flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-fisher {

    --bg: url("https://cdn.armylegends.ro/bg/Pescar.webp");
    --clr: 234, 217, 187;

    position: absolute;
    inset: 0;
    
    background: var(--bg) no-repeat;
    background-size: 100% 100%;
}


.fisher-flex {
    padding: 120px;
    flex-direction: column;
}

.fisher-flex .job-header {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.fisher-flex .job-header .header-box {
    display: flex;
    font-variant-ligatures: none;
}

.fisher-flex .job-header .header-box .job-title {
    font-size: 6vh;
    /* text-transform: uppercase; */
    letter-spacing: .05em;
    font-weight: 300;
    color: hsla(0, 0%, 100%, .9);
    line-height: 60px;
    margin-right: 26px;
}

.fisher-flex .job-header .header-box .job-title p {
    font-size: 6vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
}

.fisher-flex .job-header .job-description {
    margin-top: 10px;
    color: hsla(0, 0%, 100%, .4);
    font-size: 2vh;
    letter-spacing: .025em;
    line-height: 22px;
    width: 570px;
    font-weight: 300;
}

.fisher-flex .job-header .header-box .job-action {
    padding: 10px 14px;
    min-width: 180px;
    min-height: 50px;
    height: fit-content;
    background-color: rgba(var(--clr), .7);
    border: 2px dashed transparent;
    border-radius: 6px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0, 0%, 100%, .7);
    font-size: 18px;
    letter-spacing: .015em;
    font-weight: 400;
    cursor: pointer;
    margin-top: 5px;
    transition: .232323s ease-in-out;
}

.fisher-flex .job-header .header-box .job-action:hover {
    border: 2px dashed rgb(var(--clr));
    opacity: .8;
}

.fisher-flex .job-boxes {
    margin-top: 102px;
    display: flex;
    gap: 3vh;
}

.fisher-flex .job-boxes > div {
    position: relative;
    transition: all 0.33s, border 0s;
    min-width: 28vh;
    border-radius: 0.5vh;
    min-height: 40vh;
    border: 0.4vh dashed hsla(0, 0%, 100%, 0.125);
    padding: 20px 22px;
}
.fisher-flex .job-boxes > div:first-of-type {
    border-style: solid;
}
.fisher-flex .job-boxes > div:hover {
    transition: 0.33s, border 0s;
    border-color: hsla(0, 0%, 100%, 0.188);
    background: hsla(0, 0%, 100%, 0.02);
    border-style:dotted;
}


.fisher-flex .job-boxes > div:first-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 275px;
    height: 265px;
    background: url(https://cdn.armylegends.ro/elements/pngwing.com37.webp) no-repeat;
    background-size: 100% 100%;
    transform: translateX(30%) translateY(25%);
}

.fisher-flex .job-boxes > div .title {
    font-size: 2vh;
    font-weight: 600;
    position: relative;
}

.fisher-flex .job-boxes > div .title::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-25%) translateY(-65%);
    content: "";
    width: 162px;
    height: 162px;
    background: url(https://cdn.armylegends.ro/elements/Mask_Group-2.webp) no-repeat;
}

.fisher-flex .job-boxes > div .description {
    max-width: 250px;
    margin-top: 35px;
    letter-spacing: .025em;
    color: hsla(0, 0%, 100%, .5);
    line-height: 21px;
}


.fisher-minigame {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    background: radial-gradient(50% 90% at 50% 50%, rgba(23, 28, 28, 0) 0%, rgba(22, 21, 35, .90) 100%);
	background-color: #0d162795;
}
.fisher-minigame::before {
    content: "";
    position: absolute;
    bottom: -35vh;
    left: -25vh;
	width: 80vh;
    height: 80vh;
    background: url(https://cdn.armylegends.ro/elements/bucket.webp) no-repeat;
    background-size: 100% 100%;
    transform: rotate(10deg);
}

.fisher-minigame::after {
    content: "";
    position: absolute;
	top: -15vh;
	right: -30vh;
	width: 80vh;
    height: 80vh;
    background: url(https://cdn.armylegends.ro/elements/fush.webp) no-repeat;
    background-size: 100% 100%;
}


.fisher-minigame .fishergame-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fisher-minigame .fishergame-flex .line {
    display: flex;
    align-items: center;
    width: 80vh;
    height: 0.5vh;
    background: hsla(0, 0%, 100%, 0.125);
    overflow: hidden;
}

.fisher-minigame .fishergame-flex .line > div {
/*     width: 80vh; */
    width: 60%;
    height: 0.5vh;
    background: #fff;
}


.fishergame-flex .key {
    width: 20vh;
    height: 5vh;
    margin-top: 5vh;

    background: hsla(0, 0%, 100%, 0.125);
    border-radius: 0.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    transition: 0.33s;
}
.fishergame-flex .key.pressed {
    transition: 0.13s;
    background: #ffffff50;
}


.fishergame-flex .description {
	font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: .015em;
    color: hsla(0, 0%, 100%, .6);
    max-width: 250px;
    text-align: center;
    position: absolute;
    bottom: 8.5vh;
}

.fishergame-flex .description span {
    color: hsla(0, 0%, 100%, .75);
}
