.main-pilotamm {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.main-pilotamm .pilotamm-flex {
    background: url(https://cdn.armylegends.ro/elements/cbimage10.webp) no-repeat;
    background-size: 100% 100%;
    width: 19.5vh;
    height: 17.8vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
}

.main-pilotamm .pilotamm-flex .pilotamm-icon {
    width: 4.5vh;
    height: 4.4vh;
    background: url(https://cdn.armylegends.ro/pilotjob/passicon.svg) no-repeat;
    background-size: 100% 100%;
}

.main-pilotamm .pilotamm-flex > p {
    text-transform: uppercase;
    font-weight: 700;
    font-variant-ligatures: none;
    font-size: 1.4vh;
    color: #fff;
    margin-top: 1vh;
}
.main-pilotamm .pilotamm-flex > span {
    display: block;
    font-variant-ligatures: none;
    font-size: 5vh;
    font-weight: 700;
    color: #fff;
    margin-top: .5vh;
}
