
.phone-layout > .contacts{
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 1.5vh;
    
    padding-top: 2.5vh;

    backdrop-filter: blur(10px);
}

.phone-layout > .contacts.visible{
    display: flex;
    animation: fadeIn 1.5s;
}

.phone-layout > .contacts > header{
    display: flex;
    align-items: center;
    width: 100%;

    padding-right: 1.25vw;
    padding-left: 1.5vw;
}

.phone-layout > .contacts > header > p{
    font-family: "Akrobat Light";
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone-layout > .contacts > header > .actions{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: .5vw;
}

.phone-layout > .contacts > header > .actions > .btn{
    padding: 1.45vh .95vw;
    border-radius: .75vw;
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .15s ease-in-out;
}

.phone-layout > .contacts > header > .actions > .btn.hidden{
    display: none;
}

.phone-layout > .contacts > header > .actions > .btn:hover{
/*     box-shadow: 0 0 0 5.5px #ffffff09; */
    background: #ffffff30;
}

.phone-layout > .contacts > footer{
    width: 100%;
    height: 7.5vh;

    margin-top: auto;
    
    background: rgba(255, 255, 255, .035);

/*     border-top-left-radius: .35vw;
    border-top-right-radius: .35vw; */

    border-top: .15vh solid #ffffff10;
    
    display: flex;
}

.phone-layout > .contacts > footer > .tab{
    width: 50%;
    height: 100%;

    border-left: .15vh solid #ffffff10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .65vh;

    transition: .33s ease-in-out;
}

.phone-layout > .contacts > footer > .tab:hover, .phone-layout > .contacts > footer > .tab.active{
    background: #ffffff30;
    border-color: #ffffff00;
}

.phone-layout > .contacts > footer > .tab:first-of-type{
    border-left: none;
}

.phone-layout > .contacts > footer > .tab > i{
    font-size: 2.15vh;
}

.phone-layout > .contacts > footer > .tab > p{
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
}


/* Contacts list */

.phone-layout > .contacts > .contacts-list{
    height: 65.5%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    margin-top: 1%;

    display: none;
    flex-direction: column;
    gap: .75vh;
}

.phone-layout > .contacts > .contacts-list.visible{
    display: flex;
}

.phone-layout > .contacts > .contacts-list::-webkit-scrollbar {
    width: 4px;
}

.phone-layout > .contacts > .contacts-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .contacts > .contacts-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9590a435;
}

.phone-layout > .contacts > .contacts-list::-webkit-scrollbar-thumb:window-inactive {
    background: #9590a4;
}

.phone-layout > .contacts > .contacts-list > .contact{
    background: #ffffff10;
    padding: 1.85vh 1.25vw;
    border-radius: 2vw;

    display: flex;
    align-items: center;
    gap: .75vw;

    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .contacts-list > .contact:hover{
    box-shadow: 0 0 0 6.5px #ffffff05;
    background: #ffffff15;
}

.phone-layout > .contacts > .contacts-list > .contact:first-of-type{
    margin-top: 2.5%;
}

.phone-layout > .contacts > .contacts-list > .contact > i{
    font-size: 2.25vh;
    background: #979ca7;
    padding: .7vh .5vw;
    border-radius: 10vw;
}

.phone-layout > .contacts > .contacts-list > .contact:hover > i{
    display: none;
}

.phone-layout > .contacts > .contacts-list > .contact > .data{
    display: flex;
    flex-direction: column;
    gap: .3vh;
}

.phone-layout > .contacts > .contacts-list > .contact:hover > .data{
    display: none;
}

.phone-layout > .contacts > .contacts-list > .contact > .data > p:nth-of-type(1){
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5vh;
}

.phone-layout > .contacts > .contacts-list > .contact > .data > p:nth-of-type(2){
    opacity: .5;
    font-family: "Akrobat Light";
    letter-spacing: 1.5px;
}

.phone-layout > .contacts > .contacts-list > .contact > .actions{
    display: none;
    justify-content: center;
    gap: .85vw;
}

.phone-layout > .contacts > .contacts-list > .contact:hover > .actions{
    display: flex;
}

.phone-layout > .contacts > .contacts-list > .contact > .actions > .action{
    width: 2.3vw;
    height: 2.3vw;

    background: #979ca7;
    box-shadow: 0 0 0 5.5px #ffffff10;
    border: .2vh solid #ffffff20;
    border-radius: 10vw;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .contacts-list > .contact > .actions > .action:hover{
    background: #ffde2c;
    
    box-shadow: 0 0 0 5.5px #ffde2c10;
}

.phone-layout > .contacts > .contacts-list > .contact > .actions > .action > i{
/*     color: #232323; */
    font-size: 1.76vh;
    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .contacts-list > .contact > .actions > .action:hover > i{
    color: #232323;
}


/* Prompt */

.phone-layout > .contacts > .contacts-prompt{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, .955);
    z-index: 2;

    display: none;
    animation: fadeIn .13s;

    padding-top: 2.5vh;
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    flex-direction: column;
    align-items: center;
}

.phone-layout > .contacts > .contacts-prompt.visible{
    display: flex;
}

.phone-layout > .contacts > .contacts-prompt > header{
    display: flex;
    align-items: center;
    width: 100%;
}

.phone-layout > .contacts > .contacts-prompt > header > p{
    font-family: "Akrobat Light";
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone-layout > .contacts > .contacts-prompt > header > .actions{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: .5vw;
}

.phone-layout > .contacts > .contacts-prompt > header > .actions > .btn{
    padding: 1.45vh .95vw;
    border-radius: .75vw;
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .15s ease-in-out;
}

.phone-layout > .contacts > .contacts-prompt > header > .actions > .btn.hidden{
    display: none;
}

.phone-layout > .contacts > .contacts-prompt > header > .actions > .btn:hover{
/*     box-shadow: 0 0 0 5.5px #ffffff09; */
    background: #ffffff30;
}


.phone-layout > .contacts > .contacts-prompt > h1{
    font-size: 3.5vh;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 2.5%;
}

.phone-layout > .contacts > .contacts-prompt.edit-contact > h1{
    margin-top: 5.5%;
}

.phone-layout > .contacts > .contacts-prompt > .fields{
    margin-top: 8.5%;
    
    padding: 2vh 0;
    padding-top: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25vh;
}

.phone-layout > .contacts > .contacts-prompt > .fields > .box{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 95%;
}

.phone-layout > .contacts > .contacts-prompt > .fields > .box > p{
    font-family: "Akrobat Light";
    font-weight: 600;
    opacity: .6;
    letter-spacing: 1.65px;
    font-size: 1.35vh;
}

.phone-layout > .contacts > .contacts-prompt > .fields > .box > input{
    height: 7.5vh;
    background: #ffffff20;
    border: .18vh solid #ffffff20;
    border-radius: .35vw;
    text-align: center;
    font-family: "Akrobat";
    font-size: 3vh;
    letter-spacing: 1px;
    padding: 0 1vw;
}

.phone-layout > .contacts > .contacts-prompt.edit-contact > .fields > .box > input{
    font-size: 2vh;
}

.phone-layout > .contacts > .contacts-prompt > .fields > .box > input:focus{
    outline: none;
}

.phone-layout > .contacts > .contacts-prompt > .fields > .box > textarea{
    height: 10.5vh;
    background: #ffffff20;
    border: .18vh solid #ffffff20;
    border-radius: .35vw;
    font-family: "Akrobat Light";
    font-size: 1.65vh;
    letter-spacing: 1px;
    padding: 1.25vh 1vw;
    resize: none;
}

.phone-layout > .contacts > .contacts-prompt > .fields > .box > textarea:focus{
    outline: none;
}

.phone-layout > .contacts > .contacts-prompt > .fields > .box > textarea::-webkit-scrollbar{
    display: none;
}

.phone-layout > .contacts > .contacts-prompt > .confirm{
    width: 95%;
    height: 7vh;
    
    background: #f1c84b;
    border-radius: .35vw;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .33s all ease-in-out;
}

.phone-layout > .contacts > .contacts-prompt > .confirm:hover{
    box-shadow: 0 0 0 6.5px #f1c84b40;
}

.phone-layout > .contacts > .contacts-prompt > .confirm > p{
    font-family: "Akrobat ExtraBold";
    letter-spacing: 1px;
    font-size: 2.5vh;
}

/* Calls list */

.phone-layout > .contacts > .calls-list{
    height: 68%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    margin-top: 1%;

    display: none;
    flex-direction: column;
    gap: .85vh;
}

.phone-layout > .contacts > .calls-list.visible{
    display: flex;
}

.phone-layout > .contacts > .calls-list > .call{
    background: #ffffff10;
    padding: 0;
    padding-left: 2vw;
    border-radius: 1.75vw;

    display: flex;
    align-items: center;
    gap: 1vw;

    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .calls-list > .call:first-of-type{
    margin-top: 2.5%;
}

.phone-layout > .contacts > .calls-list > .call:hover{
    box-shadow: 0 0 0 5.5px #ffffff05;
    background: #ffffff20;
}

.phone-layout > .contacts > .calls-list > .call > p{
    font-family: "Akrobat Bold";
    font-size: 1.65vh;
}

.phone-layout > .contacts > .calls-list > .call > .call-box{
    height: 8vh;
    width: 4.5vw;

    border-radius: 1.75vw;
    border-top-left-radius: 1.65vw;
    border-bottom-left-radius: 1.65vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff08;
    
    margin-left: auto;
}

.phone-layout > .contacts > .calls-list > .call > .call-box > i{
    font-size: 2.15vh;
    opacity: .75;
    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .calls-list > .call > .call-box:hover > i{
    opacity: 1;
}

.phone-layout > .contacts > .calls-list::-webkit-scrollbar {
    width: 4px;
}

.phone-layout > .contacts > .calls-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .contacts > .calls-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9590a435;
}

.phone-layout > .contacts > .calls-list::-webkit-scrollbar-thumb:window-inactive {
    background: #9590a4;
}

/* Shared list */

.phone-layout > .contacts > .shared-list{
    height: 68%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    margin-top: 1%;

    display: none;
    flex-direction: column;
    gap: .85vh;
}

.phone-layout > .contacts > .shared-list.visible{
    display: flex;
}

.phone-layout > .contacts > .shared-list > .box{
    background: #ffffff10;
    padding: 0;
    padding-left: 2vw;
    border-radius: 1.75vw;

    display: flex;
    align-items: center;
    gap: 1vw;

    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .shared-list > .box:first-of-type{
    margin-top: 2.5%;
}

.phone-layout > .contacts > .shared-list > .box:hover{
    box-shadow: 0 0 0 5.5px #ffffff05;
    background: #ffffff20;
}

.phone-layout > .contacts > .shared-list > .box > .text{
    display: flex;
    flex-direction: column;
    gap: .25vh;
}

.phone-layout > .contacts > .shared-list > .box > .text > p:nth-of-type(1){
    font-family: "Akrobat Light";
    opacity: .65;
}

.phone-layout > .contacts > .shared-list > .box > .text > p:nth-of-type(2){
    font-family: "Akrobat Bold";
    font-size: 1.65vh;
}

.phone-layout > .contacts > .shared-list > .box > .add-box{
    height: 8vh;
    width: 4.5vw;

    border-radius: 1.75vw;
    border-top-left-radius: 1.65vw;
    border-bottom-left-radius: 1.65vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff08;
    
    margin-left: auto;
}

.phone-layout > .contacts > .shared-list > .box > .add-box > i{
    font-size: 2.15vh;
    opacity: .75;
    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .shared-list > .box > .add-box:hover > i{
    opacity: 1;
}

.phone-layout > .contacts > .shared-list::-webkit-scrollbar {
    width: 4px;
}

.phone-layout > .contacts > .shared-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .contacts > .shared-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9590a435;
}

.phone-layout > .contacts > .shared-list::-webkit-scrollbar-thumb:window-inactive {
    background: #9590a4;
}

/* Keypad Screen */

.phone-layout > .contacts > .keypad{
    height: 70%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    margin-top: 1%;

    display: none;
    align-items: center;
    flex-direction: column;
    gap: 1.85vh;
}

.phone-layout > .contacts > .keypad.visible{
    display: flex;
}

.phone-layout > .contacts > .keypad::-webkit-scrollbar {
    width: 4px;
}

.phone-layout > .contacts > .keypad::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .contacts > .keypad::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9590a435;
}

.phone-layout > .contacts > .keypad::-webkit-scrollbar-thumb:window-inactive {
    background: #9590a4;
}

.phone-layout > .contacts > .keypad > h1{
    margin-top: 2%;
    font-size: 3.5vh;
    text-align: center;
}

.phone-layout > .contacts > .keypad > .keyboard{
    height: 29.8vh;
    width: 100%;

    margin-top: auto;

    overflow: hidden;
    
    background: #ffffff15;
    
    border-radius: 1vw;

    display: flex;
    flex-direction: column;
    gap: .5vh;

    transition: .33s ease-in-out;
}

.phone-layout > .contacts > .keypad > .keyboard > .rows{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
}

.phone-layout > .contacts > .keypad > .keyboard > .rows > .row{
    display: flex;
    width: 100%;
}

.phone-layout > .contacts > .keypad > .keyboard > .rows > .row > .key{
    height: 5vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-layout > .contacts > .keypad > .keyboard > .rows > .row > .key:hover{
    background: #ffffff10;
}

.phone-layout > .contacts > .keypad > .keyboard > .rows > .row > .key > p{
    font-size: 2vh;
}

.phone-layout > .contacts > .keypad > .keyboard > .rows > .row > .key > i{
    font-size: 2.25vh;
}

.phone-layout > .contacts > .keypad > .keyboard > .call-box{
    align-self: center;
    
    height: 3.15vw;
    width: 3.25vw;

    background: #4cd864;
    border-radius: .45vw;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .33s ease-in-out;
    
}

.phone-layout > .contacts > .keypad > .keyboard > .call-box:hover{
    background: #4cd86499;
    box-shadow: 0 0 0 5.5px #4cd86415;
}

.phone-layout > .contacts > .keypad > .keyboard > .call-box > i{
    font-size: 2vh;
}