
.phone-layout > .lifeinvader{
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 1.5vh;
    
    padding-top: 2.5vh;
    padding-right: 1.25vw;
    padding-left: 1.5vw;

    backdrop-filter: blur(10px);
}

.phone-layout > .lifeinvader.visible{
    display: flex;
    animation: fadeIn 1.5s;
}

.phone-layout > .lifeinvader > header{
    display: flex;
    align-items: center;
    width: 100%;
}

.phone-layout > .lifeinvader > header > p{
    font-family: "Akrobat Light";
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone-layout > .lifeinvader > header > .actions{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: .5vw;
}

.phone-layout > .lifeinvader > header > .actions > .btn{
    padding: 1.45vh .95vw;
    border-radius: .75vw;
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .15s ease-in-out;
}

.phone-layout > .lifeinvader > header > .actions > .btn.hidden{
    display: none;
}

.phone-layout > .lifeinvader > header > .actions > .btn:hover{
/*     box-shadow: 0 0 0 5.5px #ffffff09; */
    background: #ffffff30;
}


.phone-layout > .lifeinvader > .list{
    height: 88%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1vh;

    overflow-x: hidden;
    overflow-y: auto;

/*     padding-right: .5vw; */
}


.phone-layout > .lifeinvader > .list::-webkit-scrollbar {
    width: 4px;
    display: none;
}

.phone-layout > .lifeinvader > .list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .lifeinvader > .list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff10;
}

.phone-layout > .lifeinvader > .list::-webkit-scrollbar-thumb:window-inactive {
    background: #ffffff10;
}

.phone-layout > .lifeinvader > .list > .box{
    height: 30vh;
    padding: 1.5vh 1.5vw;
    border-radius: 1vw;

    background: #ffffff15;

    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.phone-layout > .lifeinvader > .list > .box:hover{
    z-index: 3;
}

.phone-layout > .lifeinvader > .list > .box > .publicator{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5vh;
}

.phone-layout > .lifeinvader > .list > .box > .publicator > span{
    opacity: .5;
    letter-spacing: 1.5px;
    font-family: "Akrobat Light";
    font-weight: 600;
    font-size: 1.85vh;
}

.phone-layout > .lifeinvader > .list > .box > .publicator > .user{
    display: flex;
    gap: .85vw;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
}

.phone-layout > .lifeinvader > .list > .box > .publicator > .user > i{
    font-size: 2.2vh;
    opacity: .65;
}

.phone-layout > .lifeinvader > .list > .box > .publicator > .user > p{
    font-family: "Akrobat Light";
    font-weight: 600;
    font-size: 1.85vh;
    letter-spacing: 2px;
    text-align: center;
/*     text-transform: uppercase; */
}

.phone-layout > .lifeinvader > .list > .box > .publicator > p {
    background: rgb(255, 222, 44);
    padding: 1vh 1.25vw;
    border-radius: 0.25vw;
    color: rgb(35, 35, 35);
    font-family: "Akrobat ExtraBold";
    font-size: 1.65vh;
    display: flex;
    gap: 0.65vw;
    align-items: center;
    transition: all 0.33s ease-in-out 0s;
    filter: hue-rotate(180deg);
}

.phone-layout > .lifeinvader > .list > .box > .publicator > p:hover{
    box-shadow: 0 0 0 5.5px #ffde2c30;
}

.phone-layout > .lifeinvader > .list > .box > .publicator > p > i{
    color: #232323;
    font-size: 1.95vh;
    margin-bottom: .1vh;
}

.phone-layout > .lifeinvader > .list > .box > p{
    opacity: .5;
    text-align: center;
    font-family: "Akrobat Light";
    letter-spacing: 1px;
}

.phone-layout > .lifeinvader > .list > .box > .call-data{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 1.25vw;
}

.phone-layout > .lifeinvader > .list > .box > .call-data > i{
    padding: 1vh .65vw;
    border: .2vh solid #ffffff10;
    border-radius: 10vw;
    font-size: 1.25vh;
    transition: .33s ease-in-out;
}

.phone-layout > .lifeinvader > .list > .box > .call-data > i:hover{
    box-shadow: 0 0 0 5.5px #ffffff05;
}

.phone-layout > .lifeinvader > .list > .box > .call-data > p{
    font-size: 2.5vh;
    font-family: "Akrobat Bold";
    background: linear-gradient(205deg, #ffffff50, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.phone-layout > .lifeinvader > footer{
    position: absolute;
    bottom: 0;
    
    background-image: url(https://media.discordapp.net/attachments/1041010030918508565/1041108380590293002/unknown.png);
    background-position: center;
    background-repeat: no-repeat;
    
    height: 15%;
    width: 100%;
    
    z-index: 2;
    
    display: flex;
    align-items: center;
    justify-content: center;

    filter: hue-rotate(180deg);
}
