
.phone-layout > .messages{
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 1.5vh;
    
    padding-top: 2.5vh;

    backdrop-filter: blur(10px);
    background: linear-gradient(90deg, #3b170f90, #986b4d99);
}

.phone-layout > .messages.visible{
    display: flex;
    animation: fadeIn 1.5s;
}

.phone-layout > .messages > header{
    display: flex;
    align-items: center;
    width: 100%;

    padding-right: 1.25vw;
    padding-left: 1.5vw;
}

.phone-layout > .messages > header > p{
    font-family: "Akrobat Light";
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone-layout > .messages > header > .actions{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: .5vw;
}

.phone-layout > .messages > header > .actions > .btn{
    padding: 1.45vh .95vw;
    border-radius: .75vw;
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .15s ease-in-out;
}

.phone-layout > .messages > header > .actions > .btn:hover{
/*     box-shadow: 0 0 0 5.5px #ffffff09; */
    background: #ffffff30;
}

/* Prompt */

.phone-layout > .messages > .messages-prompt{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, .925);
    z-index: 2;

    display: none;
    animation: fadeIn .13s;

    padding-top: 2.5vh;
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    flex-direction: column;
    align-items: center;
}

.phone-layout > .messages > .messages-prompt.visible{
    display: flex;
}

.phone-layout > .messages > .messages-prompt > header{
    display: flex;
    align-items: center;
    width: 100%;
}

.phone-layout > .messages > .messages-prompt > header > p{
    font-family: "Akrobat Light";
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone-layout > .messages > .messages-prompt > header > .actions{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: .5vw;
}

.phone-layout > .messages > .messages-prompt > header > .actions > .btn{
    padding: 1.45vh .95vw;
    border-radius: .75vw;
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .15s ease-in-out;
}

.phone-layout > .messages > .messages-prompt > header > .actions > .btn.hidden{
    display: none;
}

.phone-layout > .messages > .messages-prompt > header > .actions > .btn:hover{
/*     box-shadow: 0 0 0 5.5px #ffffff09; */
    background: #ffffff30;
}


.phone-layout > .messages > .messages-prompt > h1{
    font-size: 3.5vh;
    letter-spacing: 1px;
    text-align: center;
}

.phone-layout > .messages > .messages-prompt > .fields{
    margin-top: 8.5%;
    
    padding: 2vh 0;
    padding-top: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .95vh;
}

.phone-layout > .messages > .messages-prompt > .fields > .box{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 95%;
}

.phone-layout > .messages > .messages-prompt > .fields > .box > p{
    font-family: "Akrobat Light";
    font-weight: 600;
    opacity: .6;
    letter-spacing: 1.65px;
    font-size: 1.35vh;
}

.phone-layout > .messages > .messages-prompt > .fields > .box > input{
    height: 7.5vh;
    background: #ffffff20;
    border: .18vh solid #ffffff20;
    border-radius: .35vw;
    text-align: center;
    font-family: "Akrobat";
    font-size: 3vh;
    letter-spacing: 1px;
    padding: 0 1vw;
}

.phone-layout > .messages > .messages-prompt > .fields > .box > input:focus{
    outline: none;
}

.phone-layout > .messages > .messages-prompt > .fields > .box > textarea{
    height: 10.5vh;
    background: #ffffff20;
    border: .18vh solid #ffffff20;
    border-radius: .35vw;
    font-family: "Akrobat Light";
    font-size: 1.65vh;
    letter-spacing: 1px;
    padding: 1.25vh 1vw;
    resize: none;
}

.phone-layout > .messages > .messages-prompt > .fields > .box > textarea:focus{
    outline: none;
}

.phone-layout > .messages > .messages-prompt > .fields > .box > textarea::-webkit-scrollbar{
    display: none;
}

.phone-layout > .messages > .messages-prompt > .confirm{
    width: 95%;
    height: 7vh;
    
    background: #f1c84b;
    border-radius: .35vw;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .33s all ease-in-out;
}

.phone-layout > .messages > .messages-prompt > .confirm:hover{
    box-shadow: 0 0 0 6.5px #f1c84b40;
}

.phone-layout > .messages > .messages-prompt > .confirm > p{
    font-family: "Akrobat ExtraBold";
    letter-spacing: 1px;
    font-size: 2.5vh;
}

.phone-layout > .messages > .list{
    height: 80%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    margin-top: 6%;

    display: none;
    flex-direction: column;
    gap: .65vh;
}

.phone-layout > .messages > .list.visible{
    display: flex;
}

.phone-layout > .messages > .list::-webkit-scrollbar {
    width: 4px;
}

.phone-layout > .messages > .list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .messages > .list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9590a435;
}

.phone-layout > .messages > .list::-webkit-scrollbar-thumb:window-inactive {
    background: #9590a4;
}

.phone-layout > .messages > .list > .item{

    background: #ffffff10;
    padding: 2vh 1.65vw;
    border-radius: 1.6vw;

    display: flex;
    align-items: center;
    gap: 1vw;

    transition: .33s ease-in-out;
    
}

.phone-layout > .messages > .list > .item:hover{
    box-shadow: 0 0 0 5.5px #ffffff05;
    background: #ffffff20;
}

.phone-layout > .messages > .list > .item:first-of-type{
    margin-top: 1.5%;
}

.phone-layout > .messages > .list > .item > i{
    margin-left: auto;
    font-size: 1.45vh;
    transition: .33s ease-in-out;
}

.phone-layout > .messages > .list > .item > i:hover{
    opacity: .5;
}

.phone-layout > .messages > .list > .item > .text{
    display: flex;
    flex-direction: column;
    gap: .35vh;
}

.phone-layout > .messages > .list > .item > .text > header{
    display: flex;
    align-items: center;
    gap: .5vw;
}

.phone-layout > .messages > .list > .item > .text > header > p:nth-of-type(1){
    font-family: "Akrobat Bold";
    font-size: 1.5vh;
}

.phone-layout > .messages > .list > .item > .text > header > p:nth-of-type(2){
    font-family: "Akrobat Light";
    font-size: 1.2vh;
    opacity: .5;
}

.phone-layout > .messages > .list > .item > .text > p{
    opacity: .45;
    font-family: "Akrobat Light";
    font-size: 1.35vh;
}

.phone-layout > .messages > .list > .item::before{
    content: '';
    margin-left: -1.75vw;
    width: .85vh;
    height: .835vh;
    border-radius: 10vw;
    background-color: #5dc675;
    box-shadow: 0 0 0 5px #5dc67520;
    left: 1.25vw;
    opacity: 0;
}

.phone-layout > .messages > .list > .item.active::before, .phone-layout > .messages > .list > .item.unread::before{
    opacity: 1;
}

.phone-layout > .messages > .list > .item.unread::before{
    background-color: #ffdc5e;
    box-shadow: 0 0 0 5px #ffdc5e20;
}

/* Conversation */

.phone-layout > .conversation{
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 1.5vh;
    
    padding-top: 2.5vh;

    backdrop-filter: blur(10px);
    background: linear-gradient(90deg, #3b170f90, #986b4d99);
}

.phone-layout > .conversation.visible{
    display: flex;
    animation: fadeIn 1.5s;
}

.phone-layout > .conversation > header{
    display: flex;
    align-items: center;
    width: 100%;

    padding-right: 1.25vw;
    padding-left: 1.5vw;
}

.phone-layout > .conversation > header > p{
    font-family: "Akrobat Light";
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone-layout > .conversation > header > .actions{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: .5vw;
}

.phone-layout > .conversation > header > .actions > .btn{
    padding: 1.45vh .95vw;
    border-radius: .75vw;
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .15s ease-in-out;
}

.phone-layout > .conversation > header > .actions > .btn:hover{
/*     box-shadow: 0 0 0 5.5px #ffffff09; */
    background: #ffffff30;
}

.phone-layout > .conversation > .chats{
    width: 100%;
    height: -webkit-fill-available;

    overflow-x: hidden;
    overflow-y: auto;
    
    padding-right: 1.25vw;
    padding-left: 1.5vw;

    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.phone-layout > .conversation > .chats::-webkit-scrollbar {
    width: 4px;
}

.phone-layout > .conversation > .chats::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .conversation > .chats::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9590a435;
}

.phone-layout > .conversation > .chats::-webkit-scrollbar-thumb:window-inactive {
    background: #9590a4;
}

.phone-layout > .conversation > .chats > .item{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: .85vh;
}

.phone-layout > .conversation > .chats > .item.own{
    align-self: flex-end;
    align-items: flex-end;
}

.phone-layout > .conversation > .chats > .item:first-of-type{
    margin-top: 5%;
}

.phone-layout > .conversation > .chats > .item > p:not(.date):nth-of-type(1){
    background: #e5e7eb;
    color: #232323;
    
    padding: 1.5vh;

    width: 12vw;

    border-radius: 1vw;

    font-family: "Akrobat Light";
    font-weight: 700;
    font-size: 1.7vh;
    letter-spacing: 1.15px;
}

.phone-layout > .conversation > .chats > .item > p.date{
    color: #dbc9c7;
    margin-left: .25vw;
    
    font-size: 1.45vh;
    letter-spacing: .85px;
}

.phone-layout > .conversation > .chats > .item.own > p:not(.date):nth-of-type(1){
    background: #ffdc5e;
}

.phone-layout > .conversation > .chats > .item.own > p.date{
    margin-right: .25vw;
}

.phone-layout > .conversation > .chats > .item > .location{
    height: 9vh;
    width: 12vw;

    border-radius: .5vw;

    background-image: url(https://cdn.armylegends.ro/elements/phonelayout.png);
    background-size: 100% 100%;
    
    opacity: .9;
    transition: .33s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.phone-layout > .conversation > .chats > .item > .location:hover{
    opacity: 1;
    box-shadow: 0 0 0 6.5px #23232335;
}

.phone-layout > .conversation > .chats > .item > .location > i{
    font-size: 2.5vh;
    opacity: .65;
    transition: .33s ease-in-out;
    color: #ffdc5e;
}

.phone-layout > .conversation > .chats > .item > .location:hover > i{
    opacity: 1;
    color: #ffdc5e;
}

.phone-layout > .conversation > .chats > .item > .location > .text{
    display: flex;
    flex-direction: column;
    gap: .15vh;
}

.phone-layout > .conversation > .chats > .item > .location > .text > p{
    letter-spacing: .5px;
    font-family: "Akrobat Light";
}

.phone-layout > .conversation > .chats > .item > .location > .text > p:nth-of-type(1){
    font-weight: 600;
    opacity: .65;
}

.phone-layout > .conversation > .chats > .item > .location > .text > p:nth-of-type(2){
    opacity: .5;
}

.phone-layout > .conversation > footer{
    margin-top: auto;
    margin-bottom: 1.5vh;
    
    height: 7vh;
    width: 90%;

    background: #ffffff10;
    border-radius: 1.65vw;

    padding: 0 1.5vw;
    padding-right: 0;
    
    display: flex;
    align-items: center;
}

.phone-layout > .conversation > footer > input{
    background: none;
    border: none;
    font-size: 1.75vh;
    font-family: "Akrobat Bold";
    color: #fff;
    width: 7.5vw;
}

.phone-layout > .conversation > footer > input::placeholder{
    color: #fff;
}

.phone-layout > .conversation > footer > input:focus{
    outline: none;
}


.phone-layout > .conversation > footer > .actions{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: .9vw;
}

.phone-layout > .conversation > footer > .actions i{
    font-size: 2.15vh;
    transition: .33s ease-in-out;
}

.phone-layout > .conversation > footer > .actions i:hover{
    opacity: .5;
}

.phone-layout > .conversation > footer > .actions > .send{
    height: 7vh;
    width: 4vw;
    
    border-radius: 1.65vw;

    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .33s ease-in-out;
}

.phone-layout > .conversation > footer > .actions > .send:hover{
    background: #ffffff30;
}

.phone-layout > .conversation > footer > .actions > .send > i:hover{
    opacity: 1;
}