
.phone-layout > .services{
    display: none;
    flex-direction: column;
    align-items: center;

    gap: 1.5vh;
    
    padding-top: 2.5vh;

    backdrop-filter: blur(10px);
}

.phone-layout > .services.visible{
    display: flex;
    animation: fadeIn 1.5s;
}

.phone-layout > .services > header{
    display: flex;
    align-items: center;
    width: 100%;

    padding-right: 1.25vw;
    padding-left: 1.5vw;
}

.phone-layout > .services > header > p{
    font-family: "Akrobat Light";
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 2px;
}

.phone-layout > .services > header > .actions{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1vw;
}

.phone-layout > .services > header > .actions > .btn{
    padding: 1.45vh .95vw;
    border-radius: .75vw;
    background: #ffffff20;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .15s ease-in-out;
}

.phone-layout > .services > header > .actions > .btn:hover{
/*     box-shadow: 0 0 0 5.5px #ffffff09; */
    background: #ffffff30;
}

.phone-layout > .services > .list{
    height: 80%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
    
    padding-right: 1.25vw;
    padding-left: 1.5vw;
    
    margin-top: 6%;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.phone-layout > .services > .list::-webkit-scrollbar {
    width: 4px;
}

.phone-layout > .services > .list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.phone-layout > .services > .list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9590a435;
}

.phone-layout > .services > .list::-webkit-scrollbar-thumb:window-inactive {
    background: #9590a4;
}

.phone-layout > .services > .list > .service{
    height: 25vh;
    width: 100%;
    
    backdrop-filter: blur(10px);
    border-radius: 1.5vw;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5vh;

    overflow: hidden;
    padding: 0;
    padding-top: 7vh;
    padding-bottom: 18.5vh;
    transition: .33s ease-in-out;
}

.phone-layout > .services > .list > .service.police{
    background-color: #30659660;
    background-image: url(https://cdn.armylegends.ro/elements/testpolitie.webp);
}

.phone-layout > .services > .list > .service:hover{
    opacity: .65;
}

.phone-layout > .services > .list > .service.police:hover{
    box-shadow: 0 0 0 7.5px #30659610;
}

.phone-layout > .services > .list > .service.ambulance{
    background-color: #8a4e4c60;
    background-image: url(https://cdn.armylegends.ro/elements/testsmurd.webp);
}

.phone-layout > .services > .list > .service.ambulance:hover{
    box-shadow: 0 0 0 7.5px #8a4e4c10;
}

.phone-layout > .services > .list > .service.mechanic{
    background-color: #907F5160;
    background-image: url(https://cdn.armylegends.ro/elements/testmecanic.webp);
}

.phone-layout > .services > .list > .service.mechanic:hover{
    box-shadow: 0 0 0 7.5px #907F5110;
}

.phone-layout > .services > .list > .service > p:nth-of-type(1){
    font-family: "Akrobat Bold";
    font-size: 3vh;
    letter-spacing: 1px;
}

.phone-layout > .services > .list > .service > p:nth-of-type(2){
    font-family: "Akrobat Bold";
    font-size: 1.5vh;
    letter-spacing: .5px;
    opacity: .6;
}