.main-discord-login, .discord-login-flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-discord-login {
    position: absolute;
    inset: 0;

    background: url(https://cdn.armylegends.ro/bg/Discord_Login.png) no-repeat;
    background-size: 100% 100%;

    font-family: "TT Norms";
}

.discord-login-flex {
    flex-direction: column;
    justify-content: center;
    padding-left: 335px;
}

.login-form {
    width: 485px;
    height: 90px;
    background: hsla(313, 17%, 10%, .2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.login-form div {
    width: 60px;
    height: 60px;
    background: hsla(260, 14%, 16%, .3);
    border-radius: 6px;
    display: grid;
    place-items: center;
    margin-right: 20px;
}

.login-form div > i {
    font-size: 20px;
}

.login-form p {
    font-variant-ligatures: none;
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
}

.login-form p span {
    display: block;
    color: hsla(0, 0%, 100%, .3);
    font-size: 16px;
}

.login-form > i {
    margin-left: auto;
    margin-right: 20px;
    font-size: 20px;
    opacity: .25;
}
.login-form > i.active {
    opacity: .65;
    color: #b9e6b9;
}


.sign-in {
    width: 485px;
    height: 80px;
    background: #80a0cc;
    border-radius: 4px;
    display: grid;
    place-items: center;
    padding: 0 16px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: .232323s ease-in-out;
}

.sign-in:hover {
    transform: translateY(-5px);
    opacity: .8;
}