

.main-factionstorage, .factionstorage-flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-factionstorage {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(22, 21, 35, .85), transparent);
    padding-left: 60px;
    font-family: "TT Norms";
}

.factionstorage-flex {
    align-items: center;
    z-index: 999;
}

.factionstorage-flex .storage-box {
    width: 400px;
    height: 90%;

    overflow-x: hidden;
    overflow-y: auto;    
}

.factionstorage-flex .storage-box .storage-box-wrap {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
}

.factionstorage-flex .storage-box .storage-box-wrap div {
    width: 125px;
    height: 125px;

    background: hsla(0, 0%, 100%, .1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 10px;
    text-align: center;

    cursor: pointer;
}

.factionstorage-flex .storage-box .storage-box-wrap div:hover {
    background: hsla(0, 0%, 100%, .15)
}

.factionstorage-flex .storage-box .storage-box-wrap div img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.factionstorage-flex .storage-box .storage-box-wrap div p {
    font-size: 12px;
    letter-spacing: .015em;
    font-variant-ligatures: none;
    color: hsla(0, 0%, 100%, .6);
}
