
/* Error message */

.api-fail-msg {
    display: block;
    background: rgba(222,57,57,.95);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 20px 40px rgba(222,57,57,.79);
    z-index: 9999;
    animation: fadeInFromNone .5s ease-out;
    font-family: "TT Norms";
}

.api-fail-msg > p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant-ligatures: none;
    text-align: center;
    padding: 100px 140px;
    line-height: 24px;
    display: inline-block;
}

.api-info-msg {
    display: block;
    background: rgba(161, 201, 255,.95);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 20px 40px rgba(161, 201, 255,.79);
    z-index: 9999;
    animation: fadeInFromNone .5s ease-out;
    font-family: "TT Norms";
}

.api-info-msg > p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant-ligatures: none;
    text-align: center;
    padding: 100px 140px;
    line-height: 24px;
    display: inline-block;
}

@keyframes fadeInFromNone{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Hud Top Right */
.hud-top-right {
    position: absolute;
    top: 20px;
    right: 25px;

    display: flex;
    flex-direction: row;

    font-family: "TT Norms";
}

.hud-top-right .hud-top-right-flex {
    display: flex;
    flex-direction: column;
}


.hud-top-right-flex .server-hud {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hud-top-right-flex .server-hud .info {
    text-align: right;
    color: hsla(0, 0%, 100%, .5);
    font-size: 14px;
    margin-right: 25px;
    /* align-self: flex-start; */
}

.hud-top-right-flex .server-hud .info > i {
    color: hsla(0, 0%, 100%, .5);
}

.hud-top-right-flex .server-hud .info span {
    display: block;
    color: #fff;
    text-align: right;
    margin-right: 1px;
}

.hud-top-right-flex .server-hud .texts {
    display: flex;
    flex-direction: column;
}

/* .hud-top-right-flex .server-hud .texts  > .subtitle {
    display: flex;
    justify-content: space-between;
} */

.hud-top-right-flex .server-hud .texts  > .subtitle {
    display: flex;
    justify-content: flex-end;
    gap: 10px /*6px*/;
}

.hud-top-right-flex .server-hud .texts  > .subtitle > .data {
    font-weight: 500;
    font-size: 14px /* 12px*/;
}

.hud-top-right-flex .server-hud .texts  > .subtitle > .data > span, .hud-top-right-flex .server-hud .texts  > .subtitle > .data > i{
    color: hsla(0, 0%, 100%, .5);
    margin-right: 3px;
}

.hud-top-right-flex .server-hud .texts  > .title {
    font-size: 14px;
    /* color: hsla(0, 0%, 100%, .8); */
    font-weight: 500;
    /* letter-spacing: 4px; */
    justify-self: flex-end;
    text-align: right;
}

.hud-top-right-flex .server-hud > .divider {
    height: 33px;
    width: 1.5px;
    background: hsla(0, 0%, 100%, .06);
    margin-left: 10px;
}

.hud-top-right-flex .server-hud > img {
    width: 90px;
    height: 90px;

    margin-left: 5px;
}

.hud-top-right-flex .wanted-stars {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 10px;
    direction: rtl;
}

.hud-top-right-flex .wanted-stars i {
    color: hsla(0, 0%, 100%, .1);
    /* font-size: 16px; */
    font-size: 18px;
}
.hud-top-right-flex .wanted-stars i.active {
    color: hsla(214, 100%, 82%, .3);
}

.hud-top-right-flex .weapon-info {
    margin-top: 20px;
    margin-left: auto;
    text-align: right;
    font-variant-ligatures: none;
    font-size: 18px;

    display: flex;
    align-items: center;
}

.hud-top-right-flex .weapon-info span {
    margin-top: 2px;
    display: block;
    /* font-size: 14.5px; */
    font-size: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .5);
}

.hud-top-right-flex .weapon-info span b {
    font-weight: 500;
    font-size: 15px;
    margin-right: 2px;
}

.hud-top-right-flex .weapon-info svg {
    width: 22px;
    height: 22px;
    margin-left: 15px;
}


.hud-top-right-flex .safezone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    margin-top: 20px;
}

.hud-top-right-flex .safezone img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.hud-top-right-flex .safezone p {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}


/* Hud Bottom Right */
.hud-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 25px;

    display: flex;

    font-family: "TT Norms";
}

.hud-bottom-right .hud-bottom-right-flex {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
}

.hud-bottom-right-flex .binds-list {    
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 15px;
}
/* 
.hud-bottom-right-flex .binds-list .bind {
    display: flex;
    align-items: center;

    font-style: normal;

    animation: fadeIn .5s;
} */

.hud-bottom-right-flex .binds-list .bind {
    display: flex;
    align-items: center;

    padding: 12px;
    padding-right: 16px;
    gap: .5vw;

    font-style: normal;
    font-variant-ligatures: none;
    
    animation: fadeIn .5s;

    background: rgba(255, 255, 255, 0.08); /* rgba(255, 255, 255, 0.06) */
    border-radius: 6px;
}

/* .hud-bottom-right-flex .binds-list .bind > div {
    background: #ffffff20;
	
    font-weight: 500;
    font-size: 14px;
	
    display: flex;
    align-items: center;
    justify-content: center;

	padding-left: .8vw;
	padding-right: .8vw;
	height: 2vw;

    margin-right: 10px;
} */
.hud-bottom-right-flex .binds-list .bind > div {
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.5);
    min-width: 30px;
    padding: 0 6px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #282d31;
    font-size: 14px; /* 16px */
    margin-right: 8px;
    font-family: "TT Norms";
    font-weight: 600;
    text-transform: uppercase;
}

/* .hud-bottom-right-flex .binds-list .bind:first-of-type {
    border-left: none;
    padding-left: 0;
} */


/* Hud Bottom Center */
.hud-bottom-center {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "TT Norms";
}

.hud-bottom-center .hud-bottom-center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hud-bottom-center .survival {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hud-bottom-center .survival > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* --food-color: 151, 215, 66;
    --water-color: 144, 179, 191; */
    --food-color: 255, 107, 0, 0.7;
    --water-color: 0, 163, 255, 0.7;
}

.hud-bottom-center .survival > div i {
    font-size: 16px;
}


.hud-bottom-center .survival div .bar {
    width: 120px;
    height: 8px;
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 10px;
    transition: 1.5s ease-in-out;
}
.hud-bottom-center .survival div .bar .fill {
    height: 100%;
    width: 25%;
    border-radius: 10px;
    transition: 2s ease-in-out;
}


.hud-bottom-center .survival .food-bar .bar {
    background: rgba(var(--food-color), .3);
}
.hud-bottom-center .survival .water-bar .bar {
    background: rgba(var(--water-color), .3);
}
.hud-bottom-center .survival .food-bar .fill {
    background: rgb(var(--food-color));
}
.hud-bottom-center .survival .water-bar .fill {
    background: rgb(var(--water-color));
}


/* Hud Minimap */
.hud-minimap {
	position: absolute;
	left: 325px;
	bottom: 20px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.hud-minimap {
    font-family: "TT Norms";
}

.hud-minimap > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.hud-minimap > div.microphone {
    width: 20px;
    height: 20px;
    opacity: .5;
}

.hud-minimap > div.microphone.active {
    opacity: 1;
}

.hud-minimap > div > div > svg {
    width: 18px;
    height: 18px;
}

.hud-minimap > div .microphone-state {
	position: absolute;
	left: 0.5vw;
	top: 0.1vw;
	width: 0.4vw;
	height: 0.35vw;
	background: #ff7c7c;
	border-radius: 10vw;
    transition: .212121s ease-in-out;
}

.hud-minimap > div.microphone.size-1 .microphone-state {
    width: 0.4vw;
	height: 0.35vw;
}

.hud-minimap > div.microphone.size-2 .microphone-state {
    width: 0.5vw;
	height: 0.45vw;
}

.hud-minimap > div.microphone.size-3 .microphone-state {
    width: 0.55vw;
	height: 0.5vw;
}

.hud-minimap > div.microphone.active .microphone-state {
    background: #85ff7c;
}

.hud-minimap > div:last-of-type {
    margin-bottom: 0;
}

.hud-minimap > div > i {
    color: hsla(0, 0%, 100%, .4);
    font-size: 18px;
}

.hud-minimap > div > p {
    margin-left: 12px;

    font-size: 16px;
    font-weight: 500;
    /* letter-spacing: .5px; */
    line-height: 20px;
}

.hud-minimap > div.money .flow {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 7px;

    color: hsla(0, 0%, 100%, .4);

    margin-left: 10px;

    animation: animMoneyFlow .5s ease-in-out;
}

@keyframes animMoneyFlow {
    from {
        transform: scale(85%);
        opacity: 0;
    } to {
        transform: scale(initial);
        opacity: 1;
    }
}


.hud-minimap > div.money .flow.gain {
    color: #69EF29;
}

.hud-minimap > div.money .flow.loss {
    color: #ff7c7c;
}

.hud-minimap > div.money > p {
    letter-spacing: .5px;
}

.hud-minimap > div > p span {
    display: block;
    color: hsla(0, 0%, 100%, .4);
    font-weight: 400;
}



/* compass */

@keyframes animCompass{
    from {
        top: 2.5%;
    } to {
        top: 6.5%;
    }
}


.compass-layout{
    top: 6.5%;
    font-family: "Akrobat Bold";
    animation: animCompass 1s;
    display: none;
}

.compass-layout > .wrapper{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
}

.compass-layout > .wrapper > .cardinal{
    font-size: 3.5vh;
    transition: 1s;
}

.compass-layout > .wrapper > .district-street{
    display: flex;
    flex-direction: column;
}

.compass-layout > .wrapper > i{
    opacity: .5;
    font-size: 1.85vh;
    animation: rotateCompassIcon 5.5s linear infinite;
}

.compass-layout > .wrapper > .district-street > p{
    font-size: 2.25vh;
    transition: 1s;
}

.compass-layout > .wrapper > .district-street > p:nth-of-type(1){
    color: #a1c9ff;
}

@keyframes rotateCompassIcon{
  0%, 100% {
    transform: rotate(-320deg);
  }
  50% {
    transform: rotate(320deg);
  }
}


/* Speed Limit */

.speed-limit {
    position: absolute;
    bottom: 25px;
    left: -90px;
    font-weight: 600;
    font-family: 'TT Norms';
    width: 50px;
    height: 48px;
    opacity: .3;
    background: url(https://cdn.armylegends.ro/elements/Limita_de_viteza.webp) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}