
.main-lifeinvader, .lifeinvader-flex {
    display: flex;
    width: 100%;
    height: 100%;
}


.lifeinvader-flex {
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.main-lifeinvader{
    position: absolute;
    inset: 0;

    background-image: url(https://cdn.armylegends.ro/bg/lifeinvader.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    z-index: 2;
    font-family: "TT Norms";
}

.lifeinvader-flex > .header {
    margin-bottom: 3.5%;

    display: flex;
    flex-direction: column;

    padding: 0 9.5vw;
    width: 100%;
}

.lifeinvader-flex > .header .title{
    font-size: 30px;
    font-weight: 500;
}

.lifeinvader-flex > .header .subtitle {
    font-size: 18px;
    font-weight: 400;
    font-variant-ligatures: none;
    color: hsla(0, 0%, 100%, .4);

    max-width: 400px;
    margin-top: 5px;
}

.lifeinvader-flex > p > span {
    display: block;
    margin-top: 5px;
    color: hsla(0, 0%, 100%, .4);
    font-size: 16px;
    font-weight: 400;
    /* width: 260px; */
    text-align: center;
    font-variant-ligatures: none;
}


.hud-top-right .announce, .lifeinvader-flex .announce {
    width: 320px;
    height: fit-content;
    
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 35px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    margin-right: 40px /*60px*/;
    margin-top: 5px;

    display: flex;
    flex-direction: column;

    font-family: "TT Norms";
}

.lifeinvader-flex .announce {
    transform: scale(150%);
    margin-left: 260px;
}

.hud-top-right .announce .header, .lifeinvader-flex .announce .header {
    display: flex;
    align-items: center;

    margin-top: -5px;
}

.hud-top-right .announce .header > img, .lifeinvader-flex .announce .header > img {
    align-self: flex-start;
    margin-left: auto;
    
    width: 18px;
    height: 17px;

    opacity: .5;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.hud-top-right .announce .header div, .lifeinvader-flex .announce .header div {
    height: 22px;
    padding: 0 12px;
    
    margin-left: 10px;

    background: #FFFFFF;
    
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 2px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-variant-ligatures: none;
    line-height: 12px;
    
    color: rgba(35, 35, 35, 0.85);

    display: flex;
    align-items: center;
    justify-content: center;
}

.hud-top-right .announce .title, .lifeinvader-flex .announce .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;

    color: #FFFFFF;

    margin-left: 10px;
    margin-top: 12px;

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.hud-top-right .announce .description, .lifeinvader-flex .announce .description, .lifeinvader-flex .announce textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-variant-ligatures: none;
    line-height: 18px;
    word-break: break-all;

    margin-top: 4px;
    margin-left: 10px;
    
    color: rgba(255, 255, 255, 0.5);

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    font-family: "TT Norms";
}

.lifeinvader-flex .announce textarea {
    background: none;
    outline: none !important;
    border: none;
    width: 260px;
    resize: none;
    overflow: hidden;
    letter-spacing: normal;
}

.lifeinvader-flex .confirm {
    margin-top: 3.5%;
    margin-left: 9.5vw;

    border: 2px solid hsla(0, 0%, 100%, .2);
    border-radius: 6px;

    width: fit-content;
    padding: 12px;

    font-size: 16px;
    font-weight: 500;

    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.lifeinvader-flex .confirm:hover {
    background-color: #fff;
    color: #232323;
    transition: .232323s ease-in-out;
}

.lifeinvader-flex .confirm:after {
    content: "";
    width: 60px;
    height: 100%;
    position: absolute;
    /* z-index: 20; */
    transform: skewX(40deg);
    background: #fff;
    opacity: .12;
    left: 61%;
    top: 0;
    animation: animSkew 1s linear infinite;
}

@keyframes animSkew {
    from {
        left: -81%;
    } to {
        left: 100%;
    }
}
