
.main-npctalk, .npctalk-flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.npctalk-flex {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.main-npctalk {
    position: absolute;
    inset: 0;
    font-family: "TT Norms";
}

.npctalk-flex .npc-box {
    padding: 10px 0;
    padding-bottom: 0;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: rotate(-1.5deg);
    margin-bottom: 40px;
    z-index: 2;
}

.npctalk-flex .shadow-npc {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: url(https://cdn.armylegends.ro/bg/dialognpc.webp) no-repeat;
    background-size: 100% 100%;
}

.npctalk-flex .npc-box .npc-name {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .015em;
    font-variant-ligatures: none;
    color: hsla(0, 0%, 100%, .5);
    transform: rotate(-1deg);
}

.npctalk-flex .npc-box .npc-response {
    margin-top: 12px;
    width: 95%;
    max-width: 700px;
    padding: 20px;
    background-color: hsla(0, 0%, 0%, .45);
    border-radius: 6px;
    font-variant-ligatures: none;
    font-weight: 500;
    letter-spacing: .015em;
    font-size: 16px;
    line-height: 22px;
}

.npctalk-flex .npc-box .npc-choices {
    margin-top: 14px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px 10px;
}
.npctalk-flex .npc-box .npc-choices div {
    border: 2px solid hsla(0, 0%, 100%, .3);
    border-radius: 6px;
    min-width: 240px;
    min-height: 70px;
    padding: 24px 20px;
    transform: skew(-8deg, 0) rotate(-1deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .232323s ease-in-out, padding 0s;
    position: relative;
    text-align: center;
}

.npctalk-flex .npc-box .npc-choices div p {
    font-size: 18px;
    font-weight: 500;
    font-variant-ligatures: none;
    transform: skew(8deg, 0);
    transition: .232323s ease-in-out;
}

.npctalk-flex .npc-box .npc-choices div:hover {
    background: #a1c9ff;
    border-color: #a1c9ff;
    box-shadow: 0 10px 50px hsla(214, 100%, 82%, .7);
}

.npctalk-flex .npc-box .npc-choices div:hover p {
    color: #232323;
}


.npctalk-flex .npc-box .npc-choices div::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(15%) translateX(-5%) rotate(40deg);
    width: 51px;
    height: 65px;
}

.npctalk-flex .npc-box .npc-choices div::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0) translateX(-10%) rotate(40deg);
    width: 51px;
    height: 65px;
}

.npctalk-flex .npc-box .npc-choices div:hover::after, .npctalk-flex .npc-box .npc-choices div:hover::before {
    filter: grayscale(100%) brightness(100%) hue-rotate(60deg) contrast(250%);
}
