.main-playtime-flips, .playtime-flips-flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-playtime-flips {
    position: absolute;
    inset: 0;
    background: url(https://cdn.armylegends.ro/bg/Playtime_Spins.png) no-repeat;
    background-size: 100% 100%;
    font-family: "TT Norms";
}

.playtime-flips-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playtime-flips-flex .win-list {
    position: absolute;
    bottom: 30px;
    width: 1024px;
    height: 100px;
    display: flex;
    align-items: center;
}

.playtime-flips-flex .win-list > div {
    background: hsla(0, 0%, 100%, .035);
    width: 105px;
    height: 100px;
    margin-right: 15px;
    transform: skew(-2.55deg, -5deg);
    border-radius: 10px;
    transition: .232323s ease-in-out;
    border: 2px dashed hsla(0, 0%, 100%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.playtime-flips-flex .win-list > div:last-of-type {
    margin-right: 0;
}
.playtime-flips-flex .win-list > div:hover {
    border: 2px dashed hsla(0, 0%, 100%, .1);
}

.playtime-flips-flex .win-list > div img {
    width: 80px;
    height: 80px;
}


.playtime-flips-flex .card-list {
    width: 1224px;
    height: 500px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.playtime-flips-flex .card-list > div {
    height: 500px;
    width: 350px;
    background-image: url(https://cdn.armylegends.ro/elements/Card.webp);
    background-repeat: no-repeat;
    background-size: 100%  100%;
    border-radius: 5px;
    --s: 50px;
    --t: 2.5px;
    --g: 15px;
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid hsla(0, 0%, 100%, .2);
    outline-offset: calc(var(--g));
    transition: .232323s ease-in-out;
    cursor: pointer;
    animation-delay: .15s;

    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.playtime-flips-flex .card-list.no-pointer-evs > div {
    pointer-events: none;
}
.playtime-flips-flex .card-list > div.with-prize {
    background-image: url(https://cdn.armylegends.ro/elements/Card_with_prize.webp);
}

.playtime-flips-flex .card-list > div.with-prize:hover {
    animation: none;
}

.playtime-flips-flex .card-list > div.with-prize img {
    display: block;
    width: 220px;
    height: 220px;
}

.playtime-flips-flex .card-list > div.with-prize > p {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
    font-family: "TT Norms";
    text-align: center;
    font-variant-ligatures: none;
    max-width: 250px;
    display: none;
}

.playtime-flips-flex .card-list > div:hover {
    animation: hoveringcard 1s linear infinite;
    animation-delay: .25s;
}

.playtime-flips-flex .card-list > div.flipping {
    animation: flipcard 1.5s linear infinite;
    animation-delay: .15s;
}

.playtime-flips-flex .card-list > div.with-prize p {
    display: block;
}

@keyframes hoveringcard{
    0%, 100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(5deg);
    }
}

@keyframes flipcard {
    0%, 100% {
        transform: rotateY(initial);
    }
    50% {
        transform: rotateY(180deg);
    }
}

.hud-bottom-right-flex .flip-cards-ready {
    position: relative;
    margin-right: 25px;
    margin-left: 15px;
    cursor: pointer;
    transition: .232323s ease-in-out;
    width: 70px;
    height: 90px;
    background: url(https://cdn.armylegends.ro/elements/flipcards.png) no-repeat;
    background-size: 100%;
}

.hud-bottom-right-flex .flip-cards-ready:hover {
    opacity: .65;
}

.hud-bottom-right-flex .flip-cards-ready:not(:hover) {
    animation: blinkFlip 2.5s linear infinite;
}

.hud-bottom-right-flex .flip-cards-ready:not(:hover) > p {
    display: none;
}

.hud-bottom-right-flex .flip-cards-ready > p {
    width: fit-content;
    position: absolute;
    text-align: center;
    font-variant-ligatures: none;
    bottom: 100px;
}

@keyframes blinkFlip {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.playtime-flips-reminder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "TT Norms";
}

.playtime-flips-reminder > div {
    width: 300px;
    height: 215px;
    background: url(https://cdn.armylegends.ro/elements/Reminder_Rotiri.webp) no-repeat;
    background-size: 100% 100%;
}

.playtime-flips-reminder p {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-left: 25px;
    color: hsla(0, 0%, 100%, .95);
}