.hud-progressbar {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    bottom: 8%;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.hud-progressbar > p {
    font-family: "TT Norms";
    font-weight: 500;
    font-size: 16px;
    color: hsla(0, 0%, 100%, .65);
}

.hud-progressbar > .progress {
    width: 100%;
    height: 2vh;
    display: flex;
    align-items: center;
}

.hud-progressbar > .progress > .bar {
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, transparent, hsla(0,0%,100%,.3), transparent);
    transition: all .1s ease-in-out;
}
.hud-progressbar > .progress > .bar > .fill {
    margin-left: 60%;
    width: 16px;
    position: absolute;
    height: 16px;
    box-shadow: 0 0 0 7px #a1c9ff20;
    background: #a1c9ff;
    border-radius: 100px;
    transition: all .1s ease-in-out;
    transform: translateY(-35%);
    /* top: 50%; */
}