
.hud-bottom-right-flex .police-radar {
    width: 500px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(https://media.discordapp.net/attachments/1119674736109178893/1120490194248929380/radar_pd_frame.png) no-repeat;
    background-size: 100% 100%;
}

.hud-bottom-right-flex .police-radar div {
    display: flex;
    flex-direction: column;
    width: 265px;
    /* background: red; */
    margin-left: 20px;
    padding: 0 20px;
    font-size: 16px;
}

.hud-bottom-right-flex .police-radar div p {
    color: #456b00;
    font-family: "Technology";
    font-size: 20px;
    letter-spacing: .25em;
}

.hud-bottom-right-flex .police-radar div:nth-of-type(2) {
    margin-bottom: 15px;
    margin-top: 10px;
}

.hud-bottom-right-flex .police-radar div.stop {
    font-family: "Technology";
    font-size: 18px;
    letter-spacing: .5em;
    color: #bd2732;
}
