@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

.radio-layout {
	display: none;
}

.radio-layout > .container {
	display: flex;
	align-items: flex-end;
	position: fixed;
	height: 100%;
	right: 2rem;
	bottom: 0;
}

.radio-layout > .container > .radio-image {
	height: 50%;
}



/* Action buttons */
/* Top row */
.radio-layout > .container > #join {
	/* background: blue;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 13%;
	right: 68%;
	bottom: 30%;
}

.radio-layout > .container > #preset_set {
	/* background: cyan;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 7% 12%;
	right: 39.8%;
	bottom: 29%;
}

/* First column */
.radio-layout > .container > #leave {
	/* background: pink;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 9%;
	right: 63%;
	bottom: 6.8%;
}

.radio-layout > .container > #volume_mute {
	/* background: purple;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 9%;
	right: 63%;
	bottom: 2.8%;
}

/* Middle column */
.radio-layout > .container > #volume_up {
	/* background: lime;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 9%;
	right: 44%;
	bottom: 6.8%;
}

.radio-layout > .container > #volume_down {
	/* background: green;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 9%;
	right: 44%;
	bottom: 2.8%;
}

/* Last buttons */
.radio-layout > .container > #preset_one {
	/* background: orange;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 9%;
	right: 25%;
	bottom: 6.8%;
}

.radio-layout > .container > #preset_two {
	/* background: red;
	opacity: .1; */

	cursor: pointer;
	position: absolute;
	padding: 9%;
	right: 25%;
	bottom: 2.8%;
}



/* Input */
.radio-layout > .container > .channel-input {
	position: absolute;
	width: 48%;
	height: 7.1%;
	right: 28%;
	bottom: 13.8%;
}

.radio-layout > .container > .channel-input > input {
	height: 100%;
	width: 100%;
	padding: 0;
	outline: none;
	border: none;
	padding-left: 10%;

	appearance: none;
	background: #8b9c60;
	border-radius: 5px;
	color: #21381e;
	font-family: 'Technology';
	font-size: 2rem;
}

.radio-layout > .container > .channel-input > input::placeholder {
	color: #5b6938;
}



/* Button tooltips */
.radio-layout > .container > .button:before {
	position: absolute;
	content: attr(tooltip);
	opacity: 0;

	transition: all .3s;
	padding: 10%;
	border-radius: 3px;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	font-size: .8rem;
	color: #2d2427;
	white-space: nowrap;
}

.radio-layout > .container > .button:hover:before {
	opacity: 1;
	background: #eee;
}

.radio-layout .container [tooltip]:not([dummy]):before {
	pointer-events: none;
}