
.main-scoreboard, .scoreboard-flex {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-scoreboard {
  position: absolute;
  inset: 0;
  display:none;
  background: url(https://cdn.armylegends.ro/bg/bgscoreboard.webp) no-repeat;
  background-size: 110% 110%;
  font-family: "TT Norms";
}

.scoreboard-flex {
  flex-direction: column;
  align-items: center;
}


.scoreboard-flex .close {
  position: absolute;
  top: 50px;
  right: 62px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: hsla(0,0%,100%,.4);
}

.scoreboard-flex .close:hover > div {
  background: hsla(0, 0%, 100%, .2);
}

.scoreboard-flex .close > div {
  margin-left: 15px;
  padding: 11px 12px;

  font-size: 15px;
  font-weight: 500;
  letter-spacing: .2px;

  background-color: hsla(0,0%,100%,.05);
  border-radius: 4px;

  transition: .232323s ease-in-out;
}


.scoreboard-flex .scoreboard-header {
  margin-top: 40px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: .025em;
  font-weight: 400;
}
.scoreboard-flex .scoreboard-header img {
  width: 65px;
  height: 65px;
  margin-left: 10px;
  margin-right: 10px;
}


.scoreboard-flex .scoreboard-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-top: 40px;
  gap: 36px;
  font-variant-ligatures: none;
}

.scoreboard-flex .scoreboard-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  letter-spacing: .025em;
}
.scoreboard-flex .scoreboard-stats div p {
  margin-bottom: 2px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
}


.scoreboard-flex .scoreboard-title {
  position: relative;
  margin-top: 60px;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  color: #398edc;
  text-shadow: 0 0 25px #398edc;
}
.scoreboard-flex .scoreboard-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-60%, -75%);
  width: 158px;
  height: 154px;
  background: url(https://cdn.armylegends.ro/elements/scoreboard.webp) no-repeat;
}
.scoreboard-flex .scoreboard-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -55%);
  content: "";
  width: 158px;
  height: 154px;
  background: url(https://cdn.armylegends.ro/elements/scoreboard.webp) no-repeat;
}


.scoreboard-flex .scoreboard-player-block {
  display: flex;
  flex-direction: column;
  height: 56%;
  width: 1200px;
  margin-top: 60px;
  /* background: blue; */
}

.scoreboard-flex .scoreboard-player-block .scoreboard-player-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 26px;
}

.scoreboard-flex .scoreboard-player-block .scoreboard-player-header .title {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  letter-spacing: .015em;
  /* margin-bottom: 20px; */
  margin-right: 26px;
  color: hsla(0, 0%, 100%, .3);
  text-transform: uppercase;
}
.scoreboard-flex .scoreboard-player-block .scoreboard-player-header .title::after {
  content: "";
  width: 20px;
  height: 4px;
  background-color: hsla(0, 0%, 100%, .2);
  border-radius: 1px;
  margin-left: 10px;
}

.scoreboard-flex .scoreboard-player-block .scoreboard-player-header .search-player {
  width: 300px;
  height: 65px;
  background: hsla(0, 0%, 100%, .05);
  border-radius: 100px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 26px;
}

.scoreboard-flex .scoreboard-player-block .scoreboard-player-header .search-player input {
  background: none;
  border: none;
  outline: none !important;
  font-family: "TT Norms";
  font-size: 18px;
  width: 85%;
}

.scoreboard-flex .scoreboard-player-block .scoreboard-player-header .search-player .icon {
  margin-left: auto;
}


.scoreboard-flex .scoreboard-player-block .scoreboard-players {
  width: calc(100% + 20px);
  height: 100%;
  margin-top: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
}


.scoreboard-flex .scoreboard-player-block .scoreboard-players::-webkit-scrollbar {
  width: 4px;
}
.scoreboard-flex .scoreboard-player-block .scoreboard-players::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.025);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.scoreboard-flex .scoreboard-player-block .scoreboard-players::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.065);
}
.scoreboard-flex .scoreboard-player-block .scoreboard-players::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.065);
}


.scoreboard-flex .scoreboard-player-block .scoreboard-players .scoreboard-players-list {
  max-width: 100%;
  max-height: 100%;

  width: 0;
  height: 0;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 15px;
}

.scoreboard-players .scoreboard-players-list > div {
  width: 390px;
  background: hsla(0, 0%, 100%, .055);
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 26px;
  font-size: 22px;
  position: relative;
  color: hsla(0, 0%, 100%, .65);
}

.scoreboard-players .scoreboard-players-list > div.Politie::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  width: 18px;
  height: 20px;
  background: url(https://cdn.discordapp.com/attachments/1119674736109178893/1120450955905859644/Politie_icon.png?ex=65e62fc4&is=65d3bac4&hm=ee691267ca24eb59f6b526a6f7d4f786dd828a9b10aa56da0ed0a8afe398c368&) no-repeat;
  background-size: 100% 100%;
}

.scoreboard-players .scoreboard-players-list > div.Smurd::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  width: 18px;
  height: 20px;
  background: url(https://cdn.discordapp.com/attachments/1119674736109178893/1120450955662602321/Smurd_icon.png?ex=65e62fc4&is=65d3bac4&hm=9219d060ab2355c6a248818115d7578b92a5a1f0911ff0f680dcfa2fb62e5d4b&) no-repeat;
  background-size: 100% 100%;
}

.scoreboard-players .scoreboard-players-list > div > div {
  margin-left: 20px;
  font-size: 20px;
  font-variant-ligatures: none;
}

.scoreboard-players .scoreboard-players-list > div > div span {
  font-size: 16px;
  color: hsla(0, 0%, 100%, .5);
  /* letter-spacing: .015em; */
}
