@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');

.tunning-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'TT Norms';
    font-size: 12pt;
    display: none;
    user-select: none;
}

.tunning-container .cash {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-weight: 600;
    font-size: 1.3em;
    color: #aec3a5;
    letter-spacing: .025em;
}

.cash_not {
    color: red !important;
}

.tunning-container .detailCard {
    position: absolute;
    display: none;
    overflow: hidden;
    opacity: 0;
    right: -140px;
    top: 40px;
    width: 300px;
    background-color: rgba(0,0,0,0.4);
    border-top: white solid 0.5px;
    border-bottom: white solid 0.5px;
    margin: 8px;
    padding: 8px 16px;
    color: white;
    z-index: 3;
}

.tunning-container .detailCard .detailCard_name {
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.tunning-container .detailCard .detailCard_stat_name {
    font-weight: bold;
    font-size: 1.1em;
    font-style: italic;
}

.tunning-container .detailCard .detailCard_stat_bar {
    position: relative;
    width: 100%;
    height: 30px;
}

.tunning-container .detailCard .detailCard_stat_bar .detailCard_stat_bar_bar {
    position: relative;
    width: 88%;
    height: 20px;
}

.tunning-container .detailCard .detailCard_stat_bar .detailCard_stat_bar_bar .detailCard_stat_bar_bg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 80%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 2px 0 0 2px;
    z-index: 4;
}

.tunning-container .detailCard .detailCard_stat_bar .detailCard_stat_bar_bar .detailCard_stat_bar_front {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    border-radius: 2px;
    z-index: 5;
}

.tunning-container .detailCard .detailCard_stat_bar .detailCard_stat_bar_number {
    position: absolute;
    right: 0;
    top: -5px;
    height: 100%;
    width: 11%;
    padding-left: 1%;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 1.1em;
    font-style: italic;
}

.tunning-container .options {
    position: absolute;

    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 200px;
}

.tunning-container .options .options_title {
    text-align: center;

    color: white;
    font-weight: bold;
    font-size: 1.4em;

    text-transform: uppercase;
}

.tunning-container .options .options_container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 170px;
}

.tunning-container .options .options_subTitle {
    text-align: center;

    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.tunning-container .options .options_container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.tunning-container .options .options_container::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

.tunning-container .options .options_containerr::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0);
}

.options_container_optionSelected {
    background-color: rgba(0, 0, 0, .25) !important;
    transform: scale(90%);
}

.options_container > div:first-child {
    margin-left: calc(50vw - 138px);
}

.options_container > div:last-child {
    margin-right: calc(50vw - 138px);
}

.options_option {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, .15);
    /* border: 2px solid #ffd235; */
    color: rgba(255,255,255,0.8);
    width: 240px;
    height: 160px;
    padding: 8px;
    margin: 0 8px;
    text-align: center;
    border-radius: 2px;
    border-radius: 2px;
    transition: .232323s ease-in-out;
}

.options_container_option_price {
    position: absolute;
    display: flex;
    top: 15px;
    right: 15px;
    padding: 4px 8px;
    color: #c8e0fe;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    font-family: "TT Norms";
    font-weight: 400;
}

.options_option_img {
    position: absolute;
    top: calc(50% - 16px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.options_option_img > img {
    width: 45px;
    height: 45px;
    filter: brightness(100%) invert(100%);
}

.options_option_text {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "TT Norms";
}

.buttonHelpers {
    display: none;

    position: absolute;
    
    bottom: 8px;
    left: 8px;
}

.buttonHelpers > span {
    display: inline-flex;

    padding: 5px 8px;

    background-color: rgba(0,0,0,0.6);
    
    border-radius: 2px;

    color: white;
    font-size: 0.8em;
}

.buttonHelpers > span > img {
    height: 18px;
    width: auto;

    margin-right: 5px;
}

.colorPicker-holder {
    position: absolute;
    top: 40px;
    left: -140px;

    opacity: 0;

    background-color: rgba(0,0,0,0.4);
    
    border-top: white solid 0.5px;
    border-bottom: white solid 0.5px;

    padding: 8px 16px;
    padding-bottom: 16px;

    color: white;
}

.colorPicker-title {
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;

    margin-bottom: 3px;
}

.colorPicker-price {
    position: absolute;

    top: 10px;
    right: 10px;

    font-weight: bold;
    font-size: 1.4em;

    color: green;
}

.colorPicker-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.colorPicker-column {
    flex: 1;
    border: 3px solid rgba(0,0,0,0);
    margin: 1px;

    transition: 0.05s;
}

.colorPicker-columnDefault {
    border-radius: 100%;
}

.colorPicker-columnSelected {
    border: 3px solid white;
    border-radius: 100%;
}

#drawmarker-container{
	font-family: "Barlow Condensed", sans-serif;
	position: absolute;
	left: -50%;
	top: 50%;
	font-size: 1.5rem;
	color: white;
	padding: 10px;
	background: #000000cc;
	border-radius: 8px;
	transition: left 0.3s ease;
}