.vehicle-menu {
    position:absolute;
    width:25%;
    top: 77%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8vh;
}

.vehicle-menu .vehicle-items {
    display: inline-flex;
    gap:.8vh;
    align-items: center;
}

.vehicle-menu .vehicle-items.first {
    justify-content: center;
}

.vehicle-menu .vehicle-items .item {
    opacity: 0;
    width: 7.5vh;
    height: 8.5vh;
    margin-right: 1.4vh;
    transition: transform ease-in-out .23232323s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;


    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: rgba(0, 163, 255, 0.2);
}

.vehicle-menu .vehicle-items .item:hover {
    transform: translateY(-5px);
    background-size: 100%
}

.vehicle-menu .vehicle-items .item img {
    max-height: 3.4vh;
    pointer-events: none;
    filter: grayscale(1);
}