.warrants-layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url(https://cdn.armylegends.ro/bg/warrants.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: none;

	font-family: "TT Norms";
}

.warrants-layout > .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
	gap: 1.5vw;
    
    width: 100%;
    height: 100%;
}


.warrants-layout > .wrapper > .side{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: start;
	margin-right: 115px;
	margin-top: 11.5%;
}

.warrants-layout > .wrapper > .side > .arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	background: linear-gradient(90deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,0));
	border-radius: 100%;
	border: 0;
	transition: all .23232323s ease-in-out;
	-webkit-transition: all .23232323s ease-in-out;
	-moz-transition: all .23232323s ease-in-out;
	opacity: .9;
    outline: none;
}

.warrants-layout > .wrapper > .side > .arrow::before {
	content: "";
	background: url(https://cdn.armylegends.ro/warrants/arrow.svg) no-repeat;
	background-size: 100% 100%;
	width: 24px;
	height: 24px;
}

.warrants-layout > .wrapper > .side > .arrow.bot::before {
	transform: rotate(180deg);
}

.warrants-layout > .wrapper > .side > .arrow:hover {
	opacity: 1;
}

.warrants-layout > .wrapper > .side > .circle {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
	cursor: pointer;
	opacity: .2;
}

.warrants-layout > .wrapper > .side > .line {
	background: #fff;
	width: 2px;
	height: 119px;
	margin-top: 24px;
	margin-bottom: 24px;
	opacity: .2;
}

.warrants-layout > .wrapper > .side > .page {
	text-align: center;
}

.warrants-layout > .wrapper > .side > .page > p {
	font-size: 74px;
	font-weight: 700;
}

.warrants-layout > .wrapper > .side > .page > span {
	display: block;
	font-weight: 700;
	font-size: 32px;
	margin-top: 26px;
}

.warrants-layout > .wrapper > .main{
	line-height: 1;
	margin-right: 30vw;
}

.warrants-layout > .wrapper > .main > .window {
	position: absolute;
	margin-left: 25%;
	top: 97px;
	background: url(https://cdn.armylegends.ro/elements/palarie.webp) no-repeat;
	background-size: 100% 100%;
	width: 526px;
	height: 593px;
	transform: rotate(9.18deg);
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 45px;
	z-index: -1;
}

.warrants-layout > .wrapper > .main > .window::before {
	content: "";
	background: url(https://cdn.armylegends.ro/elements/palarie.webp) no-repeat;
	background-size: 100% 100%;
	width: 844px;
	height: 812px;
	position: absolute;
	right: -394px;
	bottom: -350px;
	transform: rotate(-9.18deg);
}

.warrants-layout > .wrapper > .main > .window > .window-img > img {
	border-radius: 4px;
	opacity: .8;
	width: 394px;
	height: 208px;
}

.warrants-layout > .wrapper > .main > .window > .info {
	width: 394px;
	color: #232a43;
	font-size: 16px;
	line-height: 1.2;
	margin-top: 32px;
	font-variant-ligatures: none;
}

.warrants-layout > .wrapper > .main > .header {
    font-weight: 600;
    font-size: 54px;
    text-transform: uppercase;
}
.warrants-layout > .wrapper > .main > .name {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: .025em;
}

.warrants-layout > .wrapper > .main > .description {
    font-weight: 400;
    font-size: 20px;
    margin-top: 32px;
    width: 373px;
    line-height: 1.2;
    font-variant-ligatures: none;
}

.warrants-layout > .wrapper > .main > .fine {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    color: #ffde2a;
    letter-spacing: .24em;
    margin-top: 58px;
}

.warrants-layout > .wrapper > .main > .fine-value {
	height: 98px;
	padding-left: 39px;
	padding-right: 39px;
	border: 2px solid rgb(255 222 42/40%);
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffde2a;
	font-size: 50px;
	font-weight: 700;
	margin-top: 10px;
}

.warrants-layout > .wrapper > .main > .buttons-list {
	display: flex;
}

.warrants-layout > .wrapper > .main > .buttons-list > button {
    font-family: "TT Norms";
    height: 91px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-top: 97px;
    border: 0;
    background: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all .23232323s ease-in-out;
    -webkit-transition: all .23232323s ease-in-out;
    -moz-transition: all .23232323s ease-in-out;
    outline: none;
}

.warrants-layout > .wrapper > .main > .buttons-list > button.take {
	color: #232733;
	background: #ffde2a;
	box-shadow: 0 24px 100px rgba(255,222,42,.61);
}

.warrants-layout > .wrapper > .main > .buttons-list > button.take::before {
	content: "";
	background: url(https://cdn.armylegends.ro/warrants/pay.svg) no-repeat;
	background-size: 100% 100%;
	width: 36px;
	height: 36px;
	margin-right: 24px;
}

.warrants-layout > .wrapper > .main > .buttons-list > button:hover {
	transform: translateY(-10px);
}