
.main-weapdealer, .weapdealer-flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-weapdealer {
    position: absolute;
    inset: 0;

    background: url(https://cdn.armylegends.ro/elements/bg_dealer_arme.png) no-repeat;
    background-size: 100% 100%;

    font-family: "TT Norms";
}

.weapdealer-flex {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weapdealer-flex .weapdealer-player {
    position: absolute;
    right: 62px;
    bottom: 139px;
    display: flex;
    align-items: center;
}

.weapdealer-flex .weapdealer-player .icon {
    width: 60px;
    height: 60px;
 
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.weapdealer-flex .weapdealer-player .icon img {
    width: 22px;
    height: 22px;
}

.weapdealer-flex .weapdealer-player p {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
    text-transform: uppercase;
    margin-right: 22px;
}

.weapdealer-flex .weapdealer-player p span {
    display: block;
    color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
}

.weapdealer-flex .weapdealer-balance {
    position: absolute;
    right: 317px;
    bottom: 72px;
    display: flex;
    align-items: center;
}

.weapdealer-flex .weapdealer-balance > p:first-of-type {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
    color: #90BE6D;
    margin-right: 22px;
    text-shadow: 0px 0px 95px rgba(233, 218, 255, 0.45);
}

.weapdealer-flex .weapdealer-balance > p:first-of-type span {
    display: block;
    font-weight: 500;
    color: rgba(144, 190, 109, 0.65);
    text-shadow: 0px 0px 95px rgba(233, 218, 255, 0.45);
}


.weapdealer-flex .weapdealer-balance > p:last-of-type {
    display: flex;
    align-items: start;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    text-shadow: 0px 0px 95px rgba(233, 218, 255, 0.45);
}

.weapdealer-flex .weapdealer-balance > p:last-of-type span {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.65);
    text-shadow: 0px 0px 95px rgba(233, 218, 255, 0.45);
}

.weapdealer-flex .weapdealer-balance > p:last-of-type span span {
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-left: 5px;
    text-shadow: 0px 0px 95px rgba(233, 218, 255, 0.45);
}




.weapdealer-flex .weapdealer-info {
    display: flex;
    align-items: center;
    position: absolute;
    left: 77px;
    bottom: 72px;
}

.weapdealer-flex .weapdealer-info span {
    margin-left: 20px;
    
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;

    width: 320px;
}

.weapdealer-flex .weapdealer-info > img {
    width: 30px;
    height: 36px;
}


.weapdealer-flex .weapdealer-box {
    height: 600px;
    width: 1450px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.weapdealer-flex .weapdealer-box .header {
    height: 30px;
    width: 100%;

    display: flex;
    align-items: center;

    color: hsla(0, 0%, 100%, .6);
    font-variant-ligatures: none;
}

.weapdealer-flex .weapdealer-box .header div {
    margin-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8ebc6c00;
    border: 1.5px solid #8ebc6c00;
    padding: 0 12px;
    border-radius: 4px;
    color: hsla(0, 0%, 100%, .65);
    cursor: pointer;
    transition: color .232323s ease-in-out;
}

.weapdealer-flex .weapdealer-box .header div:hover, .weapdealer-flex .weapdealer-box .header div.active {
    color: #fff;
}

.weapdealer-flex .weapdealer-box .header div.active {
    background: #8ebc6c65;
    border: 1.5px solid #8ebc6c;
}

.weapdealer-flex .weapdealer-box .header div:first-of-type {
    margin-left: 20px;
}


.weapdealer-flex .weapdealer-box .deposit-items {
    width: fit-content;
    height: calc(600px - 115px);

    margin-top: 20px;
    
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 25px 20px;

    overflow-x: hidden;
    overflow-y: auto;

    padding-right: 20px;
}


.weapdealer-flex .weapdealer-box .deposit-items::-webkit-scrollbar {
    width: 4px;
}
.weapdealer-flex .weapdealer-box .deposit-items::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, .025);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.weapdealer-flex .weapdealer-box .deposit-items::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8ebc6c25;
}
.weapdealer-flex .weapdealer-box .deposit-items::-webkit-scrollbar-thumb:window-inactive {
    background: #8ebc6c15;
}


.weapdealer-flex .weapdealer-box .deposit-items > div:not(.name) {
    width: 220px;
    height: 220px;
    background: #27243150;
    backdrop-filter: blur(1px);
    border: 2px solid #373d5040;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .232323s ease-in-out;
}

.weapdealer-flex .weapdealer-box .deposit-items > div:not(.name):hover {
    background: #27243165;
}

.weapdealer-flex .weapdealer-box .deposit-items div .icon {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.weapdealer-flex .weapdealer-box .deposit-items div .icon img {
    width: 200px;
    height: 100px;
}

.weapdealer-flex .weapdealer-box .deposit-items div .icon.ammo img {
    width: 130px;
    height: 80px;
}

.weapdealer-flex .weapdealer-box .deposit-items div .name {
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: .025em;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .7);
    height: 40px;
    text-align: center;
    padding: 0 12px;
}

.weapdealer-flex .weapdealer-box .deposit-items div .footer .price {
    background: #8ebc6c;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .025em;
}

.weapdealer-flex .weapdealer-box .deposit-items div .footer input {
    border: none;
    outline: none !important;
    background: #8ebc6c;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .025em;
    font-family: "TT Norms";
    width: 40px;
    text-align: center;
    margin-right: 10px;
}

.weapdealer-flex .weapdealer-box .deposit-items div .footer input[type=number]::-webkit-inner-spin-button,
.weapdealer-flex .weapdealer-box .deposit-items div .footer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.weapdealer-flex .weapdealer-box .deposit-items div .footer {
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 99;
}




.weapdealer-flex .close {
    
    position: absolute;
    top: 94px;
    right: 62px;
    
    display: flex;
    align-items: center;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    color: hsla(0,0%,100%,.4);
}

.weapdealer-flex .close:hover > div {
    background: hsla(0, 0%, 100%, .2);
}

.weapdealer-flex .close > div {
    margin-left: 15px;
    padding: 11px 12px;

    font-size: 15px;
    font-weight: 500;
    letter-spacing: .2px;

    background-color: hsla(0,0%,100%,.05);
    border-radius: 4px;

    transition: .232323s ease-in-out;
}
