
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

::selection {
    background: #72aaf4b9;
    color: #fff;
}

* {
    color: rgb(255, 255, 255);
}

body {
    margin: 0px;
    height: 100%;
    font-size: 1.5vh;
    font-family: "TT Norms";
    padding: 3vh;
    overflow: hidden;
    color: rgb(255, 255, 255);
    cursor: none;
}


.loadbg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}


.key {
    position: absolute;
    bottom: 24px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .55);
    opacity: .7;
    font-variant-ligatures: none;
}

.key span {
    color: hsla(0, 0%, 100%, .7);
    font-variant-ligatures: none;
}


.load-text {
    position: absolute;
    right: 25px;
    bottom: 40px;
    font-size: 14px;
    font-variant-ligatures: none;
    color: hsla(0, 0%, 100%, .5);
    opacity: .7;
}

.loading-bar {
    position: absolute;
    right: 25px;
    bottom: 24px;
    width: 240px;
    height: 12px;
    background-color: hsla(0, 0%, 100%, .1);
    /* backdrop-filter: blur(2px); */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.loading-bar .fill {
    width: 20%;
    height: 100%;
    background-color: #a1c9ff;
    margin-left: 0%;
    animation: anim_load 1s linear infinite;
}

@keyframes anim_load {
    0%, 100%{
        margin-left: 0%;
        opacity: 0;
    }
    50% {
        margin-left: 100%;
        opacity: 1;
    }
}
